<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h3 id="screenTitle">顧客一括登録画面</h3>

      <form th:action="@{/thymeleaf/register}" th:object="${customerBatchRegisterForm}" method="post"
        class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
          <label for="multipartFile" class="col col-md-2 control-label">一括登録ファイル</label>
          <div class="col col-md-10">
            <input type="file" th:field="*{multipartFile}" /> <span id="validationErrorMessage">
              <span class="errorMessage" th:errors="*{multipartFile}"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col col-md-10 col-md-offset-2">
            <button id="uploadButton" name="upload" class="btn btn-default" type="submit"
              value="Submit">アップロード</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
