.alert {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    text-shadow: 0 1px 0 #ffffff;
}

.alert-info {
    background: #ebf7fd;
    color: #2d7091;
    border-color: rgba(45, 112, 145, 0.3);
}

.alert-warning {
    background: #fffceb;
    color: #e28327;
    border-color: rgba(226, 131, 39, 0.3);
}

.alert-error {
    background: #fff1f0;
    color: #d85030;
    border-color: rgba(216, 80, 48, 0.3);
}

.alert-primary {
    background: #cce5ff;
    color: #004085;
    border-color: rgba(0, 64, 133, 0.3);
}

.alert-secondary {
    background: #e2e3e5;
    color: #383d41;
    border-color: rgba(56, 61, 65, 0.3);
}

.alert-light {
    background: #fefefe;
    color: #818182;
    border-color: rgba(129, 129, 130, 0.3);
}

.alert-dark {
    background: #d6d8d9;
    color: #1b1e21;
    border-color: rgba(27, 30, 33, 0.3);
}

.alert > span {
    display: block; /* (1) */
}