<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>

<body>
  <div class="container">
    <div id="wrapper">
      <h1 id="screenTitle">Spring Security セッション管理</h1>

      <div>[spsm02] セッション利用時のセキュリティ対策</div>
      <ul>
        <li><a id="spsm0201001" th:href="@{/spsm/0201/001?loginSuccess}">spsm0201001</a></li>
        <li><a id="spsm0202001" th:href="@{/spsm/0202/001?loginSuccess}">spsm0202001</a></li>
        <li><a id="spsm0202002" th:href="@{/spsm/0202/002?loginSuccess}">spsm0202002</a></li>
      </ul>
      <div>[spsm03] セッションのライフサイクル制御</div>
      <ul>
        <li>REST APIで実施するため画面なし</li>
      </ul>
      <div>[spsm04] セッションタイムアウトの制御</div>
      <ul>
        <li><a id="spsm0403001001" th:href="@{/spsm/0403/001/001/login}">spsm0403001</a></li>
        <li><a id="spsm0403001002" th:href="@{/spsm/0403/001/002/login}">spsm0403001(InvalidSession)</a></li>
      </ul>
      <div>[spsm05] 多重ログインの制御</div>
      <ul>
        <li><a id="spsm0501001" th:href="@{/spsm/0501/001/login}">spsm0501001</a></li>
        <li><a id="spsm0501001nologin" th:href="@{/spsm/0501/001/noLogin}">spsm0501001nologin</a></li>
        <li><a id="spsm0501002" th:href="@{/spsm/0501/002/login}">spsm0501002</a></li>
      </ul>
    </div>
  </div>
</body>