<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">ログイン完了画面</h1>

                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>User Name</th>
                        <td>
                            <span id="username"> <th:block sec:authentication="principal.username" th:if="${!#strings.isEmpty(username)}" /> </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Test No</th>
                        <td>
                            <span id="testNo"> <th:block th:text="${testNo}" th:if="${!#strings.isEmpty(testNo)}" /> </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Session</th>
                        <td>
                            <span id="session"><span th:if="${sessionForm != null && !#strings.isEmpty(sessionForm.oeratorName)}" th:text="${sessionForm.oeratorName}" th:remove="tag"></span></span>
                        </td>
                    </tr>
                </table>
                <form th:action="@{/spsm/{testNo}/logout(testNo=${testNo})}" method="post">
                    <input type="submit" id="logout" class="btn btn-default" value="Logout" />
                </form>
            </div>
        </div>
    </body>
</html>
