.container {
    width: 80%;
}

.form-label {
    margin: 0.5em 0.5em 0 0;
    float: left;
}

.form-filepath {
    width: 80%;
    margin: 0 0.5em 0 0;
    float: left;
}

.form-input {
    width: 150px;
    margin: 0 0.5em 0 0;
    float: left;
}

.form-select {
    width: 150px;
    margin: 0 0.5em 0 0;
    float: left;
}

.btn-right {
    float: right;
}

fieldset {
    padding: 1.4em 1.4em 1.4em 1.4em;
    margin: 1em 0 1em 0;
    border: 1px solid #ccc;
}
