th {
    text-align: center !important;
}

.getColumn {
    width: 150px;
}

.inputColumn {
    width: 420px;
}

.dateColumn {
    width: 200px;
}

.tildaColumn {
    width: 20px;
}

.table-size {
    width: 570px;
}
