div#updateBody {
  border-style: solid;
  border-width: 1px;
}

div#searchMenu {
  float: left;
  width: 20%;
  border-style: solid;
  border-width: 1px;
}

div#searchBody {
  float: right;
  width: 80%;
  border-style: solid;
  border-width: 1px;
}

div#dummy {
  clear: both;
}
