<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">ログインフォーム(loginForSessionConcurrencyControlAfter)</h1>

                <div id="loginError" th:if="${param.keySet().contains('error')}">
                    <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION} != null" class="alert alert-danger">
                        <ul>
                            <li th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></li>
                        </ul>
                    </div>
                </div>
                <form th:action="@{/thymeleaf/0501/001/authenticate}" class="form-horizontal" method="post">
                    <legend>ログイン</legend>
                    <div class="form-group">
                        <label for="userName" class="col col-md-2 control-label">Administrator Name</label>
                        <div class="col col-md-3">
                            <input type="text" class="form-control input-sm" id="username" name="username" />
                        </div>
                        <div class="col col-md-3"></div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col col-md-2 control-label">Password</label>
                        <div class="col col-md-3">
                            <input type="password" class="form-control input-sm" id="password" name="password" />
                        </div>
                        <div class="col col-md-3"></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="login" class="btn btn-default" value="Login" />
                    </div>
                </form>
                <form th:action="@{/thymeleaf/0501/001/logout}" class="form-horizontal" method="post">
                    <div class="form-group">
                        <input type="submit" id="logout" class="btn btn-default" value="Logout" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
