<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">

  <context-param>
    <param-name>logbackDisableServletContainerInitializer</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>contextClass</param-name>
    <param-value>
      org.springframework.web.context.support.AnnotationConfigWebApplicationContext
    </param-value>
  </context-param>

  <listener>
    <listener-class>ch.qos.logback.classic.servlet.LogbackServletContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <!-- Root ApplicationContext -->
    <param-value>
      jp.co.ntt.fw.spring.functionaltest.config.app.ApplicationContextConfig
      jp.co.ntt.fw.spring.functionaltest.config.web.SpringSecurityConfig
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.terasoluna.gfw.web.logging.HttpSessionEventLoggingListener</listener-class>
  </listener>

  <filter>
    <filter-name>MDCClearFilter</filter-name>
    <filter-class>org.terasoluna.gfw.web.logging.mdc.MDCClearFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MDCClearFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>exceptionLoggingFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>exceptionLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>XTrackMDCPutFilter</filter-name>
    <filter-class>org.terasoluna.gfw.web.logging.mdc.XTrackMDCPutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XTrackMDCPutFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!-- ApplicationContext for Spring MVC -->
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>thym0402AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0402Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0402AppServlet</servlet-name>
    <url-pattern>/0402/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0501AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0501Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0501AppServlet</servlet-name>
    <url-pattern>/0501/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0502AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0502Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0502AppServlet</servlet-name>
    <url-pattern>/0502/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0601AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0601Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0601AppServlet</servlet-name>
    <url-pattern>/0601/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0602AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0602Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0602AppServlet</servlet-name>
    <url-pattern>/0602/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0603001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0603001Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0603001AppServlet</servlet-name>
    <url-pattern>/0603/001/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0603002AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0603002Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0603002AppServlet</servlet-name>
    <url-pattern>/0603/002/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0605001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0605001Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0605001AppServlet</servlet-name>
    <url-pattern>/0605/001/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0605004AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0605004Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0605004AppServlet</servlet-name>
    <url-pattern>/0605/004/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0701AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0701Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0701AppServlet</servlet-name>
    <url-pattern>/0701/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0702AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0702Config</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0702AppServlet</servlet-name>
    <url-pattern>/0702/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0803AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0803Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0803AppServlet</servlet-name>
    <url-pattern>/0803/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0803003AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0803003Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0803003AppServlet</servlet-name>
    <url-pattern>/0803/003/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0803004AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0803004Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0803004AppServlet</servlet-name>
    <url-pattern>/0803/004/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0803005AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0803005Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0803005AppServlet</servlet-name>
    <url-pattern>/0803/005/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0803006AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0803006Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0803006AppServlet</servlet-name>
    <url-pattern>/0803/006/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thym0803007AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>jp.co.ntt.fw.spring.functionaltest.config.web.SpringMvcThym0803007Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>thym0803007AppServlet</servlet-name>
    <url-pattern>/0803/007/*</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>500</error-code>
    <location>/common/error/systemError</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/common/error/resourceNotFoundError</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/views/common/error/unhandledSystemError.html</location>
  </error-page>

  <session-config>
    <!-- 30min -->
    <session-timeout>30</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <!-- <secure>true</secure> -->
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

</web-app>