<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">#mvc.urlメソッドによって生成されるURLの確認</h1>

                <ul>
                    <li id="message1">#mvc.urlメソッドによって生成されるURLを確認します。</li>
                    <li id="message2" th:text="${(#mvc.url('APLYTC#handleMvcUrl')).build()}"></li>
                </ul>
            </div>
        </div>
    </body>
</html>
