<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">モデルに格納された値を数値フォーマット表示した画面</h1>

                <ul th:if="${testcaseId} == 'APLY1001002'">
                    <li id="message1">Thymeleafが提供している#numbers.formatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2" th:text="${#numbers.formatInteger(valueUsingNumberFormatInteger,1,'COMMA')}"></li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001007'">
                    <li id="message1">Thymeleafが提供している#numbers.arrayFormatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2">
                        <span
                            th:each="number, status : ${#numbers.arrayFormatInteger(valueUsingNumberFormatInteger,1,'COMMA')}"
                            th:text="${status.last}? ${number} : |${number}, |"
                            th:remove="tag"
                        ></span>
                    </li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001008'">
                    <li id="message1">Thymeleafが提供している#numbers.listFormatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2">
                        <span
                            th:each="number, status : ${#numbers.listFormatInteger(valueUsingNumberFormatInteger,1,'COMMA')}"
                            th:text="${status.last}? ${number} : |${number}, |"
                            th:remove="tag"
                        ></span>
                    </li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001009'">
                    <li id="message1">Thymeleafが提供している#numbers.setFormatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2">
                        <span
                            th:each="number, status : ${#numbers.setFormatInteger(valueUsingNumberFormatInteger,1,'COMMA')}"
                            th:text="${status.last}? ${number} : |${number}, |"
                            th:remove="tag"
                        ></span>
                    </li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001016'">
                    <li id="message1">Thymeleafが提供している#numbers.formatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2" th:text="${#numbers.formatInteger(valueUsingNumberFormatInteger,1,'POINT')}"></li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001018'">
                    <li id="message1">Thymeleafが提供している#numbers.formatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2" th:text="${#numbers.formatInteger(valueUsingNumberFormatInteger,1,'WHITESPACE')}"></li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001019'">
                    <li id="message1">Thymeleafが提供している#numbers.formatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2" th:text="${#numbers.formatInteger(valueUsingNumberFormatInteger,1,'NONE')}"></li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001020'">
                    <li id="message1">Thymeleafが提供している#numbers.formatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2" th:text="${#numbers.formatInteger(valueUsingNumberFormatInteger,1,'DEFAULT')}"></li>
                    <li id="message3" th:text="${#locale}"></li>
                </ul>
                <ul th:if="${testcaseId} == 'APLY1001026'">
                    <li id="message1">Thymeleafが提供している#numbers.formatIntegerを利用して数値を以下に表示します。</li>
                    <li id="message2" th:text="${#numbers.formatInteger(valueUsingNumberFormatInteger,3,'COMMA')}"></li>
                </ul>
            </div>
        </div>
    </body>
</html>
