<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Form</title>
</head>
<body>
  <form th:object="${staffForm}" method="post" th:action="@{/thly/staff/search}"
    th:fragment="searchForm (authorities)">
    <fieldset>
      <legend>Staff Information</legend>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <label>First Name</label>
          </div>
          <div class="col-md-4">
            <input th:field="*{firstName}" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Last Name</label>
          </div>
          <div class="col-md-4">
            <input th:field="*{lastName}" class="form-control">
          </div>
        </div>
        <div class="row" id="authority-input">
          <div class="col-md-2">
            <label>Authority</label>
          </div>
          <div class="col-md-4">
            <select class="form-control" th:field="*{authority}">
              <option th:replace="${authorities}"></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <button name="search" class="btn btn-default">Search</button>
            <button name="cancel" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</body>
</html>
