<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()}, ~{::body/content()})}">
<head>
</head>
<body>

  <div th:fragment="pagination (page)" th:object="${page}" th:remove="tag">
    <ul th:if="*{totalElements} != 0" class="pagination"
      th:with="pageLinkMaxDispNum = 10, disabledHref = 'javascript:void(0)', currentUrl = ${requestURI}">
      <li th:class="*{isFirst()} ? 'disabled'"><a
        th:href="*{isFirst()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=0,size=*{size})}">&lt;&lt;</a></li>
      <li th:class="*{isFirst()} ? 'disabled'"><a
        th:href="*{isFirst()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=*{number - 1},size=*{size})}">&lt;</a></li>
      <li th:each="i : ${#pageInfo.sequence(page, pageLinkMaxDispNum)}"
        th:with="isActive=${i} == *{number + 1}" th:class="${isActive} ? 'active'"><a
        th:href="${isActive} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=${i - 1},size=*{size})}"
        th:text="${i}"></a></li>
      <li th:class="*{isLast()} ? 'disabled'"><a
        th:href="*{isLast()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=*{number + 1},size=*{size})}">&gt;</a></li>
      <li th:class="*{isLast()} ? 'disabled'"><a
        th:href="*{isLast()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=*{totalPages - 1},size=*{size})}">&gt;&gt;</a></li>
    </ul>
  </div>

  <div th:fragment="paginationWithQuery (page, query)" th:object="${page}" th:remove="tag">
    <ul th:if="*{totalElements} != 0" class="pagination"
      th:with="pageLinkMaxDispNum = 10, disabledHref = 'javascript:void(0)', currentUrl = ${requestURI}">
      <li th:class="*{isFirst()} ? 'disabled'"><a
        th:href="*{isFirst()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=0,size=*{size},__${query}__)}">&lt;&lt;</a></li>
      <li th:class="*{isFirst()} ? 'disabled'"><a
        th:href="*{isFirst()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=*{number - 1},size=*{size},__${query}__)}">&lt;</a>
      </li>
      <li th:each="i : ${#pageInfo.sequence(page, pageLinkMaxDispNum)}"
        th:with="isActive=${i} == *{number + 1}" th:class="${isActive} ? 'active'"><a
        th:href="${isActive} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=${i - 1},size=*{size},__${query}__)}"
        th:text="${i}"></a></li>
      <li th:class="*{isLast()} ? 'disabled'"><a
        th:href="*{isLast()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=*{number + 1},size=*{size},__${query}__)}">&gt;</a></li>
      <li th:class="*{isLast()} ? 'disabled'"><a
        th:href="*{isLast()} ? ${disabledHref} : @{{currentUrl}(currentUrl=${currentUrl},page=*{totalPages - 1},size=*{size},__${query}__)}">&gt;&gt;</a></li>
    </ul>
  </div>

  <div th:fragment="paginationInfo (page)" th:object="${page}" th:remove="tag">
    <div class="text-center"
      th:text="|*{#numbers.formatInteger(totalElements, 0, 'COMMA')} results|"></div>
    <div th:if="*{totalElements} != 0" class="text-center"
      th:text="|*{number + 1} / *{totalPages} Pages|"></div>
  </div>

</body>
</html>