<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()}, ~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">PGNT ページネーション</h1>

      <div>[PGNT01] アプリケーションの設定</div>
      <ul>
        <li><a id="pgnt0101001" th:href="@{/pgnt/0101/001}">pgnt0101001</a></li>
        <li><a id="pgnt0101002" th:href="@{/pgnt/0101/002}">pgnt0101002</a></li>
        <li><a id="pgnt0101003" th:href="@{/pgnt/0101/003}">pgnt0101003</a></li>
        <li><a id="pgnt0102001" th:href="@{/pgnt/0102/001}">pgnt0102001</a></li>
        <li><a id="pgnt0102002" th:href="@{/pgnt/0102/002}">pgnt0102002</a></li>
      </ul>

      <div>[PGNT02] ページ検索の実装</div>
      <ul>
        <li><a id="pgnt0202001" th:href="@{/pgnt/0202/001}">pgnt0202001</a></li>
        <li><a id="pgnt0202002" th:href="@{/pgnt/0202/002}">pgnt0202002</a></li>
        <li><a id="pgnt0202003" th:href="@{/pgnt/0202/003}">pgnt0202003</a></li>
        <li><a id="pgnt0202004" th:href="@{/pgnt/0202/004}">pgnt0202004</a></li>
        <li><a id="pgnt0202005" th:href="@{/pgnt/0202/005}">pgnt0202005</a></li>
      </ul>

      <div>[PGNT05] Serviceの実装(Mybatis3編)</div>
      <ul>
        <li><a id="pgnt0502001" th:href="@{/pgnt/0502/001}">pgnt0502001</a></li>
        <li><a id="pgnt0502002" th:href="@{/pgnt/0502/002}">pgnt0502002</a></li>
        <li><a id="pgnt0502003" th:href="@{/pgnt/0502/003}">pgnt0502003</a></li>
      </ul>

      <div>[PGNT06] JSPの実装(基本編)</div>
      <ul>
        <li><a id="pgnt0602001" th:href="@{/pgnt/0602/001}">pgnt0602001</a></li>
        <li><a id="pgnt0602002" th:href="@{/pgnt/0602/002}">pgnt0602002</a></li>
        <li><a id="pgnt0602003" th:href="@{/pgnt/0602/003}">pgnt0602003</a></li>
        <li><a id="pgnt0602004" th:href="@{/pgnt/0602/004}">pgnt0602004</a></li>
        <li><a id="pgnt0602005" th:href="@{/pgnt/0602/005}">pgnt0602005</a></li>
        <li><a id="pgnt0602006" th:href="@{/pgnt/0602/006}">pgnt0602006</a></li>
        <li><a id="pgnt0602007" th:href="@{/pgnt/0602/007}">pgnt0602007</a></li>
        <li><a id="pgnt0602008" th:href="@{/pgnt/0602/008}">pgnt0602008</a></li>
        <li><a id="pgnt0602009" th:href="@{/pgnt/0602/009}">pgnt0602009</a></li>
        <li><a id="pgnt0602010" th:href="@{/pgnt/0602/010}">pgnt0602010</a></li>
        <li><a id="pgnt0602011" th:href="@{/pgnt/0602/011}">pgnt0602011</a></li>
        <li><a id="pgnt0603001" th:href="@{/pgnt/0603/001}">pgnt0603001</a></li>
        <li><a id="pgnt0603002" th:href="@{/pgnt/0603/002}">pgnt0603002</a></li>
      </ul>

    </div>
  </div>
</body>
</html>
