<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h3 id="screenTitle">記事登録完了画面</h3>

                <div>タイトル:<span id="title" th:text="${title}"></span></div>
                <div>アップロードファイル名:<span id="uploadedFileName" th:text="${uploadedFileName}"></span></div>
            </div>
        </div>
    </body>
</html>
