<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h3 id="screenTitle">社員情報編集画面</h3>

      <div th:replace="~{common/fragments :: messagesPanel}"></div>

      <form th:action="@{/exhn/{testNumber}(testNumber=${testNumber})}" class="form-horizontal"
        method="post" th:object="${employeeForm}">
        <fieldset>
          <legend>社員情報</legend>
          <div class="form-group">
            <div class="col col-md-2">
              <label for="employeeId">社員ID</label>
            </div>
            <div class="col col-md-4">
              <input type="text" readonly="true" id="employeeId" th:field="*{employeeId}"
                class="form-control input-sm" />
            </div>
            <div class="col col-md-5">
              <span th:errors="*{employeeId}" class="errorMessage"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col col-md-2">
              <label for="employeeName">名前</label>
            </div>
            <div class="col col-md-4">
              <input type="text" id="employeeName" th:field="*{employeeName}"
                class="form-control input-sm" />
            </div>
            <div class="col col-md-5">
              <span th:errors="*{employeeName}" class="errorMessage"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col col-md-2">
              <label for="email">Email</label>
            </div>
            <div class="col col-md-4">
              <input type="text" id="email" th:field="*{email}" class="form-control input-sm" />
            </div>
            <div class="col col-md-5">
              <span th:errors="*{email}" class="errorMessage"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col col-md-2">
              <label for="address">住所</label>
            </div>
            <div class="col col-md-4">
              <input type="text" id="address" th:field="*{address}" class="form-control input-sm" />
            </div>
            <div class="col col-md-5">
              <span th:errors="*{address}" class="errorMessage"></span>
            </div>
          </div>
          <div class="form-group col col-md-5">
            <button id="backToIndex" name="backToIndex" class="btn btn-default" type=submit
              value="Submit">戻る</button>
            <button id="update" name="update" class="btn btn-default" type=submit value="Submit">更新</button>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</body>
</html>