<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">XSS対策</h1>

                <div>[XSPR01] Output Escaping</div>
                <ul>
                    <li><a id="xspr0101" th:href="@{/xspr/0101}">xspr0101</a></li>
                </ul>

                <div>[XSPR02] JavaScript Escaping</div>
                <ul>
                    <li><a id="xspr0201001" th:href="@{/xspr/0201/001}">xspr0201001</a></li>
                    <li><a id="xspr0201002" th:href="@{/xspr/0201/002}">xspr0201002</a></li>
                    <li><a id="xspr0201003" th:href="@{/xspr/0201/003}">xspr0201003</a></li>
                </ul>

                <div>[XSPR03] EventHandler Escaping</div>
                <ul>
                    <li><a id="xspr0301001" th:href="@{/xspr/0301/001}">xspr0301001</a></li>
                    <li><a id="xspr0301002" th:href="@{/xspr/0301/002}">xspr0301002</a></li>
                    <li><a id="xspr0301003" th:href="@{/xspr/0301/003}">xspr0301003</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
