<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h3 id="screenTitle">Javascript Output Escaping</h3>

                <script type="text/javascript" th:inline="javascript">
                    function setAlert() {
                        var aaa = /*[[${warnCode}]]*/ "sample";
                        alert(aaa);
                    }
                </script>

                <input id="write" type="button" value="write" class="mainbtn" onclick="setAlert()" />
            </div>
        </div>
    </body>
</html>
