<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">SSMN セッション管理</h1>

      <div>[SSMN03] @SessionAttributesアノテーションの使用</div>
      <ul>
        <li><a id="ssmn0301001" th:href="@{/ssmn/0301/001}">ssmn0301001</a></li>
        <li><a id="ssmn0301002" th:href="@{/ssmn/0301/002}">ssmn0301002</a></li>
        <li><a id="ssmn0301003" th:href="@{/ssmn/0301/003}">ssmn0301003</a></li>
        <li><a id="ssmn0301004" th:href="@{/ssmn/0301/004}">ssmn0301004</a></li>
        <li><a id="ssmn0301005" th:href="@{/ssmn/0301/005}">ssmn0301005</a></li>
        <li><a id="ssmn0301006" th:href="@{/ssmn/0301/006}">ssmn0301006</a></li>
        <li><a id="ssmn0301007" th:href="@{/ssmn/0301/007}">ssmn0301007</a></li>
        <li><a id="ssmn0301008" th:href="@{/ssmn/0301/008}">ssmn0301008</a></li>
        <li><a id="ssmn0301009" th:href="@{/ssmn/0301/009}">ssmn0301009</a></li>
        <li><a id="ssmn0302001" th:href="@{/ssmn/0302/001}">ssmn0302001</a></li>
        <li><a id="ssmn0302002" th:href="@{/ssmn/0302/002}">ssmn0302002</a></li>
      </ul>
      <div>[SSMN04] Spring FrameworkのsessionスコープのBeanの使用</div>
      <ul>
        <li><a id="ssmn0401001" th:href="@{/ssmn/0401/001/shopping/items?init}">ssmn0401001</a></li>
        <li><a id="ssmn0401002" th:href="@{/ssmn/0401/002/shopping/items?init}">ssmn0401002</a></li>
        <li><a id="ssmn0402001" th:href="@{/ssmn/0402/001/shopping/items?init}">ssmn0402001</a></li>
      </ul>
      <div>[SSMN06] 同一セッション内のリクエストの同期化</div>
      <ul>
        <li><a id="ssmn060100101" th:href="@{/ssmn/0601/001/synchronism}">ssmn0601001(次リクエスト実行)</a></li>
        <li><a id="ssmn060100102" th:href="@{/ssmn/0601/001/synchronism/delay}">ssmn0601001(最初リクエスト実行)</a></li>
      </ul>

    </div>
  </div>
</body>
</html>
