<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Request Error!</title>
        <link rel="stylesheet" th:href="@{/resources/app/css/styles.css}" />
        <link rel="stylesheet" th:href="@{/resources/app/css/cmmn.css}" />
        <link rel="stylesheet" th:href="@{/resources/vendor/bootstrap/dist/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/vendor/bootstrap/dist/css/bootstrap-theme.min.css}" />
    </head>
    <body>
        <div th:insert="~{thymeleaf/layout/header :: header}">header</div>
        <div id="wrapper">
            <h1>Request Error!</h1>
            <div class="alert alert-danger">
                <ul>
                    <li th:text="${#strings.isEmpty(exceptionCode)} ? #{e.sf.fw.9005} : |[${exceptionCode}] #{e.sf.fw.9005}|"></li>
                </ul>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div th:insert="~{thymeleaf/layout/footer :: footer}">footer</div>
    </body>
</html>
