<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>fragments</title>
    </head>
    <body>
        <!--/* messaegsPanel  start */-->
        <div th:fragment="messagesPanel" th:if="${resultMessages} != null" class="alert alert-error" th:class="|alert alert-${resultMessages.type}|">
            <ul>
                <li th:each="message : ${resultMessages}" th:text="${message.code} != null ? ${#messages.msgWithParams(message.code, message.args)} : ${message.text}">error detail message</li>
            </ul>
        </div>
        <!--/* messaegsPanel  end */-->
    </body>
</html>
