<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">管理者登録完了</h1>
                <br />
                <div th:replace="~{thymeleaf/common/fragments :: messagesPanel}"></div>
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <td>Administrator Name</td>
                        <td><span id="getAdministratorName" th:text="${administrator.username}"></span></td>
                    </tr>
                    <tr>
                        <td>Password(エンコード後)</td>
                        <td><span id="getAfterEncodePassword" th:text="${administrator.password}"></span></td>
                    </tr>
                    <tr>
                        <td>Password(エンコード前)</td>
                        <td><span id="getBeforeEncodePassword" th:text="${beforeEncodePassword}"></span></td>
                    </tr>
                </table>
                <br />
                <a id="goAthnMenu" th:href="@{/}">戻る</a>
            </div>
        </div>
    </body>
</html>
