.space {
    margin-right: 1em;
}

.title-text-field {
    width: 550px;
}

.name-text-field {
    width: 200px;
}

.sort-field {
    width: 150px;
}

.inline {
    display: inline;
}

table.pgnttable {
    line-height: 1.4;
    margin: 5px auto 15px auto;
    width: 780px;
}

div.pagination {
    height: 46px;
    margin: 18px 0;
    text-align: center;
    display: block;
}

div.pagination ul:first-child {
    padding-left: 0px;
}

div.pagination ul.rightPosition {
    position: relative;
    top: 0px;
    left: 180px;
}

div.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-left: auto;
    margin-bottom: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.pagination li {
    display: inline;
}

div.pagination div {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-left: auto;
    margin-bottom: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}

div.pagination a:hover,
div.pagination .active a {
    background-color: #f5f5f5;
}

div.pagination .active a {
    color: #999999;
    cursor: default;
}

div.pagination .disabled a,
div.pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

div.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

div.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

div.pagination div:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

div.pagination div:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

div.pagination span:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
div.pagination span a {
    border-left-width: 1px;
}
div.pagination span:last-child a {
    border-left-width: 1px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

div.pagination span {
    display: inline-block;
    padding: 3px;
}

div.pagination-centered {
    text-align: center;
}

div.pagination-right {
    text-align: right;
}

/* navigation list */
ul#navigation li {
    margin: 2px;
    list-style: none;
    float: left;
}

ul#navigation span.ui-icon {
    float: left;
    margin: 5px 4px;
}
/* inline list */
ul.inline {
    padding-left: 0px;
}

ul.inline li {
    margin: 2px;
    list-style: none;
    float: left;
}

tbody tr:nth-child(odd) td,
tbody tr.odd td {
    background: #f9f9f9;
    border: 1px;
}

tfoot tr th {
    font-weight: normal;
}

table.maintable {
    line-height: 1.4;
    margin: 5px auto 15px auto;
    width: 684px;
}
table.maintable th {
    background: #7aa6d0;
    border: 1px solid #fff;
    padding: 8px;
    color: #fff;
}
table.maintable th span {
    padding-left: 12px;
}
table.maintable td {
    padding: 2px 8px;
    border: 1px solid #fff;
}
