<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h3 id="screenTitle">ログインフォーム</h3>

                <div id="loginError" th:if="${param.keySet().contains('error')}">
                    <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION} != null" class="alert">
                        <ul>
                            <li th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></li>
                        </ul>
                    </div>
                </div>
                <form th:action="@{/thymeleaf/{testNo}/authenticate(testNo=${testNo})}" method="post">
                    <table>
                        <tr>
                            <td><label for="username">ユーザー名</label></td>
                            <td><input type="text" id="username" name="username" /></td>
                        </tr>
                        <tr>
                            <td><label for="password">パスワード</label></td>
                            <td><input type="password" id="password" name="password" /></td>
                        </tr>
                        <tr>
                            <td><label for="session">セッション情報</label></td>
                            <td>
                                <span id="session"
                                    ><span th:if="${sessionForm != null && !#strings.isEmpty(sessionForm.oeratorName)}" th:text="${sessionForm.oeratorName}" th:remove="tag"></span
                                ></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button id="login">ログイン</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
