<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">フォームオブジェクトの実装 完了画面</h1>

      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th class="inputColumn">value1</th>
          <td><span id="value1" th:text="${formObjectForm.value1}"></span></td>
        </tr>
        <tr>
          <th class="inputColumn">value2</th>
          <td><span id="value2" th:text="${formObjectForm.value2}"></span></td>
        </tr>
        <tr>
          <th class="inputColumn">value3</th>
          <td><span id="value3" th:text="${formObjectForm.value3}"></span></td>
        </tr>
        <tr>
          <th class="inputColumn">value4</th>
          <td><span id="value4" th:text="${formObjectForm.value4}"></span></td>
        </tr>
        <tr>
          <th class="inputColumn">value5</th>
          <td><span id="value5" th:text="${formObjectForm.value5}"></span></td>
        </tr>
        <tr>
          <th class="inputColumn">value6</th>
          <td><span id="value6" th:text="${formObjectForm.value6}"></span></td>
        </tr>
        <tr>
          <th class="inputColumn">value7</th>
          <td><span id="value7" th:text="${formObjectForm.value7}"></span></td>
        </tr>
      </table>

    </div>
  </div>
</body>
</html>
