<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">フォームオブジェクトの実装 入力画面</h1>
                <br />
                <form method="post" class="form-horizontal" th:object="${formObjectForm2}" th:action>
                    <fieldset>
                        <div class="form-group">
                            <div class="col col-md-4">value1(数値書式"#,#")</div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{value1}" />
                            </div>
                            <div class="col col-md-3">
                                <span id="value1ValidationErrorMessage" th:errors="*{value1}" class="errorMessage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-4">value2(数値書式"style=NUMBER")</div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{value2}" />
                            </div>
                            <div class="col col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-4">value3(数値書式"style=CURRENCY")</div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{value3}" />
                            </div>
                            <div class="col col-md-3">
                                <span th:errors="*{value3}" class="errorMessage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-4">value4(数値書式"style=PERCENT")</div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{value4}" />
                            </div>
                            <div class="col col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-4">value5(日時書式"yyyyMMdd")</div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{value5}" />
                            </div>
                            <div class="col col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-4">value6(InitBinder利用)</div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{value6}" />
                            </div>
                            <div class="col col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-4">value7(InitBinder利用)</div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{value7}" />
                            </div>
                            <div class="col col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <button id="submit" name="submit" class="btn btn-default" type="submit" value="Submit">submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
