<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">Controllerの実装方法(HTTPサーブレット応答オブジェクトからCookie値を設定)</h1>

      <ul>
        <li><a id="setCookie" th:href="@{/aply/0102/008/setCookie}">Cookie設定(事前準備)</a></li>
        <li><a id="confirm" th:href="@{/aply/0102/008/confirm}">Cookie値を引数から取得</a></li>
      </ul>

    </div>
  </div>
</body>
</html>
