<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">APLY アプリケーション層</h1>

      <div>[APLY01] Controllerの実装方法</div>
      <ul>
        <li><a id="aply0101" th:href="@{/aply/0101}">aply0101</a></li>
      </ul>

      <div>[APLY02] フォームオブジェクトの実装方法</div>
      <ul>
        <li><a id="aply0201001" th:href="@{/aply/0201/001}">aply0201001</a></li>
        <li><a id="aply0201002" th:href="@{/aply/0201/002}">aply0201002</a></li>
        <li><a id="aply0201003" th:href="@{/aply/0201/003}">aply0201003</a></li>
        <li><a id="aply0201004" th:href="@{/aply/0201/004}">aply0201004</a></li>
        <li><a id="aply0201005" th:href="@{/aply/0201/005}">aply0201005</a></li>
        <li><a id="aply0201006" th:href="@{/aply/0201/006}">aply0201006</a></li>
        <li><a id="aply0201007" th:href="@{/aply/0201/007}">aply0201007</a></li>
        <li><a id="aply0202001" th:href="@{/aply/0202/001}">aply0202001</a></li>
        <li><a id="aply0202002" th:href="@{/aply/0202/002}">aply0202002</a></li>
        <li><a id="aply0202003" th:href="@{/aply/0202/003}">aply0202003</a></li>
        <li><a id="aply0203001" th:href="@{/aply/0203/001}">aply0203001</a></li>
        <li><a id="aply0203002" th:href="@{/aply/0203/002}">aply0203002</a></li>
        <li><a id="aply0203003" th:href="@{/aply/0203/003}">aply0203003</a></li>
        <li><a id="aply0203004" th:href="@{/aply/0203/004}">aply0203004</a></li>
        <li><a id="aply0203005" th:href="@{/aply/0203/005}">aply0203005</a></li>
        <li><a id="aply0203006" th:href="@{/aply/0203/006}">aply0203006</a></li>
        <li><a id="aply0203007" th:href="@{/aply/0203/007}">aply0203007</a></li>
        <li><a id="aply0203008" th:href="@{/aply/0203/008}">aply0203008</a></li>
        <li><a id="aply0203009" th:href="@{/aply/0203/009}">aply0203009</a></li>
        <li><a id="aply0203010" th:href="@{/aply/0203/010}">aply0203010</a></li>
      </ul>

      <div>[APLY03] JSPの実装方法</div>
      <ul>
        <li><a id="aply0301001" th:href="@{/aply/0301/001}">aply0301001</a></li>
        <li><a id="aply0302001" th:href="@{/aply/0302/001}">aply0302001</a></li>
        <li><a id="aply0302002" th:href="@{/aply/0302/002}">aply0302002</a></li>
        <li><a id="aply0302003" th:href="@{/aply/0302/003}">aply0302003</a></li>
        <li><a id="aply0302004" th:href="@{/aply/0302/004}">aply0302004</a></li>
        <li><a id="aply0303001" th:href="@{/aply/0303/001}">aply0303001</a></li>
        <li><a id="aply0303002" th:href="@{/aply/0303/002}">aply0303002</a></li>
        <li><a id="aply0304001" th:href="@{/aply/0304/001}">aply0304001</a></li>
        <li><a id="aply0305001" th:href="@{/aply/0305/001}">aply0305001</a></li>
      </ul>

      <div>[APLY04] Controller共通処理の実装方法</div>
      <ul>
        <li><a id="aply0401001" th:href="@{/aply/0401/001}">aply0401001</a></li>
        <li><a id="aply0401002" th:href="@{/aply/0401/002}">aply0401002</a></li>
        <li><a id="aply0401003" th:href="@{/aply/0401/003}">aply0401003</a></li>
        <li><a id="aply0401004" th:href="@{/aply/0401/004}">aply0401004</a></li>
        <li><a id="aply0401005" th:href="@{/aply/0401/005}">aply0401005</a></li>
        <li><a id="aply0401006" th:href="@{/aply/0401/006}">aply0401006</a></li>
        <li><a id="aply0401007" th:href="@{/aply/0401/007}">aply0401007</a></li>
        <li><a id="aply0401008" th:href="@{/aply/0401/008}">aply0401008</a></li>
        <li><a id="aply0401009" th:href="@{/aply/0401/009}">aply0401009</a></li>
        <li><a id="aply0402001" th:href="@{/aply/0402/001}">aply0402001</a></li>
        <li><a id="aply0402002" th:href="@{/aply/0402/002}">aply0402002</a></li>
      </ul>

      <div>[APLY10] ThymeleafのテンプレートHTMLの実装</div>
      <ul>
        <li><a id="aply1001001" th:href="@{/aply/1001/001}">aply1001001</a></li>
        <li><a id="aply1001002" th:href="@{/aply/1001/002}">aply1001002</a></li>
        <li><a id="aply1001003" th:href="@{/aply/1001/003}">aply1001003</a></li>
        <li><a id="aply1001004" th:href="@{/aply/1001/004}">aply1001004</a></li>
        <li><a id="aply1001005" th:href="@{/aply/1001/005}">aply1001005</a></li>
        <li><a id="aply1001006" th:href="@{/aply/1001/006}">aply1001006</a></li>
        <li><a id="aply1002001" th:href="@{/aply/1002/001}">aply1002001</a></li>
        <li><a id="aply1002002" th:href="@{/aply/1002/002}">aply1002002</a></li>
        <li><a id="aply1002003" th:href="@{/aply/1002/003}">aply1002003</a></li>
        <li><a id="aply1002004" th:href="@{/aply/1002/004}">aply1002004</a></li>
        <li><a id="aply1002005" th:href="@{/aply/1002/005}">aply1002005</a></li>
        <li><a id="aply1003001" th:href="@{/aply/1003/001}">aply1003001</a></li>
        <li><a id="aply1003002" th:href="@{/aply/1003/002}">aply1003002</a></li>
        <li><a id="aply1003003" th:href="@{/aply/1003/003}">aply1003003</a></li>
        <li><a id="aply1004001" th:href="@{/aply/1004/001}">aply1004001</a></li>
        <li><a id="aply1004002" th:href="@{/aply/1004/002}">aply1004002</a></li>
        <li><a id="aply1004003" th:href="@{/aply/1004/003}">aply1004003</a></li>
        <li><a id="aply1005001" th:href="@{/aply/1005/001}">aply1005001</a></li>
        <li><a id="aply1005002" th:href="@{/aply/1005/002}">aply1005002</a></li>
        <li><a id="aply1006001" th:href="@{/aply/1006/001}">aply1006001</a></li>
        <li><a id="aply1006002" th:href="@{/aply/1006/002}">aply1006002</a></li>
        <li><a id="aply1007001" th:href="@{/aply/1007/001}">aply1007001</a></li>
        <li><a id="aply1007002" th:href="@{/aply/1007/002}">aply1007002</a></li>
        <li><a id="aply1008001" th:href="@{/aply/1008/001}">aply1008001</a></li>
      </ul>

    </div>
  </div>
</body>
</html>
