<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">フォームオブジェクトからHTMLフォームへバインドできることの確認</h1>
                <br />
                <form th:action="@{/aply/1008/bindFormObject}" class="form-horizontal" method="post" th:object="${thymeleafForm}">
                    <legend>フォームオブジェクトからHTMLフォームへバインドできること</legend>
                    <div class="form-group">
                        <div class="col col-md-2">氏名</div>
                        <div class="col col-md-3">
                            <input type="text" th:field="*{userName}" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-md-2">年齢</div>
                        <div class="col col-md-3">
                            <input type="text" th:field="*{age}" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-md-2">条件</div>
                        <div class="col col-md-3">
                            <input type="text" th:field="*{conditions}" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="bindFormObject" name="bindFormObject" class="btn btn-default" type="submit" value="Submit">Formオブジェクトバインド</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
