<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">モデルに格納された値を日付フォーマット表示した画面（#dates.format形式）</h1>

      <ul>
        <li id="message1">Thymeleafのユーティリティオブジェクトが提供している日付フォーマットを利用して数値を以下に表示します。</li>
        <li id="message2" th:text="${#dates.format(valueUsingDateFormat,'yyyy/MM/dd')}"></li>
      </ul>

    </div>
  </div>
</body>
</html>
