<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">日付操作</h1>
                <br />
                <form th:action="@{/dnta/dateManipulation}" th:object="${calcDateForm}" method="get" class="form-horizonal">
                    <fieldset>
                        <legend>日時の計算</legend>
                        <div class="form-group">
                            <div class="row">
                                <div class="col col-md-2">取得日時</div>
                                <div class="col col-md-2">
                                    <input type="text" th:field="*{inputDateTime}" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-2">増加数</div>
                                <div class="col col-md-2">
                                    <input type="text" th:field="*{plus}" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-2">減少数</div>
                                <div class="col col-md-2">
                                    <input type="text" th:field="*{minus}" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-2">
                                    <button type="submit" id="calcYear" name="calcYear" class="btn btn-default">増減年取得</button>
                                </div>
                                <div class="col col-md-2">
                                    <button type="submit" id="calcMonth" name="calcMonth" class="btn btn-default">増減月取得</button>
                                </div>
                                <div class="col col-md-2">
                                    <button type="submit" id="calcDay" name="calcDay" class="btn btn-default">増減日取得</button>
                                </div>
                                <div class="col col-md-2">
                                    <button type="submit" id="calcHour" name="calcHour" class="btn btn-default">増減時取得</button>
                                </div>
                                <div class="col col-md-2">
                                    <button type="submit" id="calcMinute" name="calcMinute" class="btn btn-default">増減分取得</button>
                                </div>
                                <div class="col col-md-2">
                                    <button type="submit" id="calcSecond" name="calcSecond" class="btn btn-default">増減秒取得</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br />
                <form th:action="@{/dnta/dateManipulation}" th:object="${compareDateTimeForm}" class="form-horizontal" method="get">
                    <fieldset>
                        <legend>日時比較</legend>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td></td>
                                    <td>年</td>
                                    <td>月</td>
                                    <td>日</td>
                                </tr>
                                <tr>
                                    <td>Past</td>
                                    <td><input type="text" th:field="*{year1}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{month1}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{day1}" class="form-control input-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Now</td>
                                    <td><input type="text" th:field="*{year2}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{month2}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{day2}" class="form-control input-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Future</td>
                                    <td><input type="text" th:field="*{year3}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{month3}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{day3}" class="form-control input-sm" /></td>
                                </tr>
                            </table>
                            <button id="compareDate" name="compareDate" class="btn btn-default">日付比較</button>
                        </div>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td></td>
                                    <td>時</td>
                                    <td>分</td>
                                    <td>秒</td>
                                </tr>
                                <tr>
                                    <td>Past</td>
                                    <td><input type="text" th:field="*{hour1}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{minute1}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{second1}" class="form-control input-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Now</td>
                                    <td><input type="text" th:field="*{hour2}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{minute2}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{second2}" class="form-control input-sm" /></td>
                                </tr>
                                <tr>
                                    <td>Future</td>
                                    <td><input type="text" th:field="*{hour3}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{minute3}" class="form-control input-sm" /></td>
                                    <td><input type="text" th:field="*{second3}" class="form-control input-sm" /></td>
                                </tr>
                            </table>
                            <button id="compareTime" name="compareTime" class="btn btn-default">時刻比較</button>
                        </div>
                    </fieldset>
                </form>
                <br />
                <form th:action="@{/dnta/dateManipulation}" th:object="${changeTypeForm}" class="form-horizontal" method="get">
                    <fieldset>
                        <legend>日時判定</legend>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="name">日時文字列</label>
                            </div>
                            <div class="col col-md-2">
                                <input type="text" th:field="*{targetDate}" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="checkDateString" name="checkDateString" class="btn btn-default">日付文字列判定</button>
                            <button type="submit" id="checkTimeString" name="checkTimeString" class="btn btn-default">時間文字列判定</button>
                            <button type="submit" id="checkLeapYear" name="checkLeapYear" class="btn btn-default">閏年判定</button>
                        </div>
                    </fieldset>
                </form>
                <br />
                <form th:action="@{/dnta/dateManipulation}" th:object="${changeTypeForm}" class="form-horizontal" method="get">
                    <fieldset>
                        <legend>年月日時分秒の取得</legend>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="name">日時文字列</label>
                            </div>
                            <div class="col col-md-2">
                                <input id="target" name="targetDate" class="form-control input-sm" type="text" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="getEachValueOfDate" name="getEachValueOfDate" class="btn btn-default">年月日の取得</button>
                            <button type="submit" id="getEachValueOfTime" name="getEachValueOfTime" class="btn btn-default">時分秒の取得</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
