<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <ul>
        <li>Now is earlier than Past:<span id="NowIsBeforePast" th:text="${NowIsBeforePast}"></span></li>
        <li>Now is earlier than Now:<span id="NowIsBeforeNow" th:text="${NowIsBeforeNow}"></span></li>
        <li>Now is earlier than Future:<span id="NowIsBeforeFuture" th:text="${NowIsBeforeFuture}"></span></li>
        <li>Now is later than past:<span id="NowIsAfterPast" th:text="${NowIsAfterPast}"></span></li>
        <li>Now is later than Now:<span id="NowIsAfterNow" th:text="${NowIsAfterNow}"></span></li>
        <li>Now is later than Future:<span id="NowIsAfterFuture" th:text="${NowIsAfterFuture}"></span></li>
        <li>Now is equal to past:<span id="NowEqualsPast" th:text="${NowEqualsPast}"></span></li>
        <li>Now is equal to Now:<span id="NowEqualsNow" th:text="${NowEqualsNow}"></span></li>
        <li>Now is equal to Now:<span id="NowEqualsFuture" th:text="${NowEqualsFuture}"></span></li>
      </ul>
    </div>
  </div>
</body>
</html>