<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <ul>
        <li th:each="arrayDate : ${#temporals.arrayFormat(resultDate)}">
          arrayFormat:<span th:id="${#ids.seq('getDate')}" th:text="${arrayDate}"></span>
        </li>
        <li th:each="arrayDateLocale : ${#temporals.arrayFormat(resultDate, 'G uuuu/MM/dd E')}">
          arrayFormatWithFormatter:<span th:id="${#ids.seq('getDateFormat')}" th:text="${arrayDateLocale}"></span>
        </li>
        <li th:each="arrayDate : ${#temporals.arrayFormat(resultDate, locale)}">
          arrayFormatWithLocale:<span th:id="${#ids.seq('getDateLocale')}" th:text="${arrayDate}"></span>
        </li>
        <li th:each="arrayDateLocale : ${#temporals.arrayFormat(resultDate, 'G uuuu/MM/dd E', locale)}">
          arrayFormatWithFormatterAndLocale:<span th:id="${#ids.seq('getDateFormatLocale')}" th:text="${arrayDateLocale}"></span>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>