<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <ul>
        <li th:each="setDay : ${#temporals.setDay(resultDate)}">
          Day:<span th:id="${#ids.seq('getDay')}" th:text="${setDay}"></span>
        </li>
        <li th:each="setMonth : ${#temporals.setMonth(resultDate)}">
          Month:<span th:id="${#ids.seq('getMonth')}" th:text="${setMonth}"></span>
        </li>
        <li th:each="setMonthName : ${#temporals.setMonthName(resultDate)}">
          MonthName:<span th:id="${#ids.seq('getMonthName')}" th:text="${setMonthName}"></span>
        </li>
        <li th:each="setMonthNameShort : ${#temporals.setMonthNameShort(resultDate)}">
          MonthNameShort:<span th:id="${#ids.seq('getMonthNameShort')}" th:text="${setMonthNameShort}"></span>
        </li>
        <li th:each="setYear : ${#temporals.setYear(resultDate)}">
          Year:<span th:id="${#ids.seq('getYear')}" th:text="${setYear}"></span>
        </li>
        <li th:each="setDayOfWeek : ${#temporals.setDayOfWeek(resultDate)}">
          DayOfWeek:<span th:id="${#ids.seq('getDayOfWeek')}" th:text="${setDayOfWeek}"></span>
        </li>
        <li th:each="setDayOfWeekName : ${#temporals.setDayOfWeekName(resultDate)}">
          DayOfWeekName:<span th:id="${#ids.seq('getDayOfWeekName')}" th:text="${setDayOfWeekName}"></span>
        </li>
        <li th:each="setDayOfWeekNameShort : ${#temporals.setDayOfWeekNameShort(resultDate)}">
          DayOfWeekNameShort:<span th:id="${#ids.seq('getDayOfWeekNameShort')}" th:text="${setDayOfWeekNameShort}"></span>
        </li>
        <li th:each="setHour : ${#temporals.setHour(resultDate)}">
          Hour:<span th:id="${#ids.seq('getHour')}" th:text="${setHour}"></span>
        </li>
        <li th:each="setMinute : ${#temporals.setMinute(resultDate)}">
          Minute:<span th:id="${#ids.seq('getMinute')}" th:text="${setMinute}"></span>
        </li>
        <li th:each="setSecond : ${#temporals.setSecond(resultDate)}">
          Second:<span th:id="${#ids.seq('getSecond')}" th:text="${setSecond}"></span>
        </li>
        <li th:each="setNanosecond : ${#temporals.setNanosecond(resultDate)}">
          Nanosecond:<span th:id="${#ids.seq('getNanosecond')}" th:text="${setNanosecond}"></span>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>