<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <ul>
                    <li>Date:<span id="getDate" th:text="${#temporals.format(resultDate)}"></span></li>
                    <li>DateFormat:<span id="getDateFormat" th:text="${#temporals.format(resultDate, 'G uuuu/MM/dd E')}"></span></li>
                    <li>DateLocale:<span id="getDateLocale" th:text="${#temporals.format(resultDate, locale)}"></span></li>
                    <li>DateFormatLocale:<span id="getDateFormatLocale" th:text="${#temporals.format(resultDate, 'G uuuu/MM/dd E', locale)}"></span></li>
                </ul>
            </div>
        </div>
    </body>
</html>
