<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Business Error!</title>
<link rel="stylesheet" th:href="@{/resources/app/css/styles.css}">
</head>
<body>
  <div id="wrapper">
    <h1>Business Error!</h1>
    <div class="error">
      <span
        th:text="${#strings.isEmpty(exceptionCode)} ? #{e.xx.fw.8001} : |[${exceptionCode}] #{__${exceptionCode}__}|"></span>
      <span th:replace="~{thly/common-parts :: messagesPanel}"></span>
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br>
  </div>
</body>
</html>