<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">INTR 国際化</h1>
      
      <span id="checkMessage"><span th:text="#{i.intr.0002}"></span></span>

      <form th:action="@{/}" method="get">
        <input type="submit" id="top" class="btn btn-default" value="top">
      </form>
  
    </div>
  </div>
</body>
</html>