<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">仮アップロード時の一時ファイル一覧</h1>

                <div id="messages">
                    <div th:if="${resultMessages} != null" class="alert alert-error" th:class="|alert alert-${resultMessages.type}|">
                        <ul>
                            <li th:each="message : ${resultMessages}" th:text="${message.code} != null ? ${#messages.msgWithParams(message.code, message.args)} : ${message.text}">
                                error detail message
                            </li>
                        </ul>
                    </div>
                </div>

                <div th:if="${temporaryFiles} != null">
                    <div>
                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">ファイルID</th>
                                    <th class="text-center">サイズ</th>
                                    <th class="text-center">アップロード日時</th>
                                </tr>
                            </thead>
                            <tbody>
                                <span th:each="temporaryFile, iterStat : ${temporaryFiles}">
                                    <tr>
                                        <td class="text-center" th:text="${iterStat.count}"></td>
                                        <td>
                                            <a target="uploadedTemporaryFile" th:href="@{/uploadedTemporaryFiles/${temporaryFile.fileId}}"
                                                ><span class="glyphicon glyphicon-new-window" th:text="${temporaryFile.fileId}"></span
                                            ></a>
                                        </td>
                                        <td class="text-right"><span th:text="|${#numbers.formatDecimal(temporaryFile.size/1024, 3, 'COMMA', 2, 'POINT')} KB|"></span></td>
                                        <td class="text-center"><span th:text="${#dates.format(temporaryFile.uploadedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
                                    </tr>
                                </span>
                            </tbody>
                        </table>
                    </div>
                </div>

                <form th:action method="post" class="form-horizontal">
                    <a th:href="@{/flup/temporaryFiles?list}" id="refreshButton" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span>最新状態 </a>
                    <button id="deleteAllButton" name="delete" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span>全ファイル削除</button>
                </form>

                <div class="text-center">
                    <a th:href="@{/}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>ファイルアップロードのトップへ</a>
                </div>
            </div>
        </div>
    </body>
</html>
