<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h1 id="screenTitle">日付操作</h1>
      <br>

      <form th:action="@{/dtop/calcdate}" method="get" class="form-horizonal" th:object="${dateManipulationForm}">
        <legend>指定した値分、増加、減少</legend>
        <div class="form-group">
          <div class="row">
            <div class="col col-md-2">取得日付</div>
            <div class="col col-md-2">
              <input type="text" th:field="*{targetIncDecDate}" class="form-control input-sm" />
            </div>
          </div>
          <div class="row">
            <div class="col col-md-2">増加数</div>
            <div class="col col-md-2">
              <input type="text" th:field="*{targetIncreaseNum}" class="form-control input-sm" />
            </div>
          </div>
          <div class="row">
            <div class="col col-md-2">減少数</div>
            <div class="col col-md-2">
              <input type="text" th:field="*{targetDecreaseNum}" class="form-control input-sm" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" id="calcDayDate" name="calcDayDate" class="btn btn-default">増減日取得</button>
          <button type="submit" id="calcMonthDate" name="calcMonthDate" class="btn btn-default">増減月取得</button>
          <button type="submit" id="calcYearDate" name="calcYearDate" class="btn btn-default">増減年取得</button>
        </div>
      </form>

      <form th:action="@{/dtop/calcdate}" method="get" class="form-horizonal" th:object="${dateManipulationForm}">
        <legend>特定日付を基準に、期間の最初と最後の日付を取得</legend>
        <div class="form-group">
          <div class="row">
            <div class="col col-md-2">取得日付</div>
            <div class="col col-md-2">
              <input type="text" th:field="*{targetStartEndDate}" class="form-control input-sm" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" id="calcMonthStartEndDate" name="calcMonthStartEndDate"
            class="btn btn-default">月初月末取得</button>
          <button type="submit" id="calcWeekStartEndDate" name="calcWeekStartEndDate"
            class="btn btn-default">週初週末取得</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>