<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">DTOP 日付操作(Joda Time)</h1>

      <div>[DTOP01] 日付取得</div>
      <ul>
        <li><a id="dtop0101001" th:href="@{/dtop/0101/001}">dtop0101001</a></li>
        <li><a id="dtop0101002" th:href="@{/dtop/0101/002}">dtop0101002</a></li>
        <li><a id="dtop0101003" th:href="@{/dtop/0101/003}">dtop0101003</a></li>
        <li><a id="dtop0101004" th:href="@{/dtop/0101/004}">dtop0101004</a></li>
        <li><a id="dtop0101005" th:href="@{/dtop/0101/005}">dtop0101005</a></li>
        <li><a id="dtop0102001" th:href="@{/dtop/0102/001}">dtop0102001</a></li>
        <li><a id="dtop0102002" th:href="@{/dtop/0102/002}">dtop0102002</a></li>
        <li><a id="dtop0103001" th:href="@{/dtop/0103/001}">dtop0103001</a></li>
      </ul>

      <div>[DTOP02] 型変換</div>
      <ul>
        <li><a id="dtop0201001" th:href="@{/dtop/0201/001}">dtop0201001</a></li>
        <li><a id="dtop0201002" th:href="@{/dtop/0201/002}">dtop0201002</a></li>
        <li><a id="dtop0202001" th:href="@{/dtop/0202/001}">dtop0202001</a></li>
      </ul>

      <div>[DTOP03] 日付取得</div>
      <ul>
        <li><a id="dtop0301001" th:href="@{/dtop/0301/001}">dtop0301001</a></li>
        <li><a id="dtop0301002" th:href="@{/dtop/0301/002}">dtop0301002</a></li>
        <li><a id="dtop0301003" th:href="@{/dtop/0301/003}">dtop0301003</a></li>
        <li><a id="dtop0301004" th:href="@{/dtop/0301/004}">dtop0301004</a></li>
        <li><a id="dtop0301005" th:href="@{/dtop/0301/005}">dtop0301005</a></li>
        <li><a id="dtop0301006" th:href="@{/dtop/0301/006}">dtop0301006</a></li>
        <li><a id="dtop0302001" th:href="@{/dtop/0302/001}">dtop0302001</a></li>
        <li><a id="dtop0302002" th:href="@{/dtop/0302/002}">dtop0302002</a></li>
        <li><a id="dtop0303001" th:href="@{/dtop/0303/001}">dtop0303001</a></li>
        <li><a id="dtop0303002" th:href="@{/dtop/0303/002}">dtop0303002</a></li>
      </ul>

      <div>[DTOP04] 期間の取得</div>
      <ul>
        <li><a id="dtop0401001" th:href="@{/dtop/0401/001}">dtop0401001</a></li>
        <li><a id="dtop0401002" th:href="@{/dtop/0401/002}">dtop0401002</a></li>
        <li><a id="dtop0401003" th:href="@{/dtop/0401/003}">dtop0401003</a></li>
        <li><a id="dtop0401004" th:href="@{/dtop/0401/004}">dtop0401004</a></li>
        <li><a id="dtop0401005" th:href="@{/dtop/0401/005}">dtop0401005</a></li>
        <li><a id="dtop0401006" th:href="@{/dtop/0401/006}">dtop0401006</a></li>
        <li><a id="dtop0401007" th:href="@{/dtop/0401/007}">dtop0401007</a></li>
        <li><a id="dtop0401008" th:href="@{/dtop/0401/008}">dtop0401008</a></li>
        <li><a id="dtop0402001" th:href="@{/dtop/0402/001}">dtop0402001</a></li>
        <li><a id="dtop0402002" th:href="@{/dtop/0402/002}">dtop0402002</a></li>
      </ul>

      <div>[DTOP05] JSP Tag Library</div>
      <ul>
        <li><a id="dtop0501001" th:href="@{/dtop/0501/001}">dtop0501001</a></li>
        <li><a id="dtop0501002" th:href="@{/dtop/0501/002}">dtop0501002</a></li>
        <li><a id="dtop0501003" th:href="@{/dtop/0501/003}">dtop0501003</a></li>
        <li><a id="dtop0501004" th:href="@{/dtop/0501/004}">dtop0501004</a></li>
      </ul>

      <div>[DTOP06] 和暦</div>
      <ul>
        <li><a id="dtop0601001" th:href="@{/dtop/0601/001}">dtop0601001</a></li>
        <li><a id="dtop0601002" th:href="@{/dtop/0601/002}">dtop0601002</a></li>
        <li><a id="dtop0601003" th:href="@{/dtop/0601/003}">dtop0601003</a></li>
        <li><a id="dtop0601004" th:href="@{/dtop/0601/004}">dtop0601004</a></li>

      </ul>
    </div>
  </div>
</body>
</html>