<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">Jsp Tag Library</h1>
                <br />
                <legend>フォーマット表示</legend>
                <ul>
                    <li><a id="jspTagDateTime" th:href="@{/dtop/jsptag/jspTagDateTime}" class="btn btn-default">DateTimeフォーマット表示</a></li>
                    <li><a id="jspTagLocalDateTime" th:href="@{/dtop/jsptag/jspTagLocalDateTime}" class="btn btn-default">LocalDateTimeフォーマット表示</a></li>
                    <li><a id="jspTagLocalDate" th:href="@{/dtop/jsptag/jspTagLocalDate}" class="btn btn-default">LocalDateフォーマット表示</a></li>
                    <li><a id="jspTagLocalTime" th:href="@{/dtop/jsptag/jspTagLocalTime}" class="btn btn-default">LocalTimeフォーマット表示</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
