<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <div th:if="${resultStartDate} == null">
        期間：<span id="getDateResult">なし</span>
      </div>
      <div th:if="${resultStartDate} != null">
        <ul>
          <li>開始日：<span id="getStartDateResult" th:text="${resultStartDate}"></span></li>
          <li>終了日：<span id="getEndDateResult" th:text="${resultEndDate}"></span></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>