<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>年</th>
          <td><span id="getDateResultYear" th:text="${resultDate.year}"></span></td>
        </tr>
        <tr>
          <th>月</th>
          <td><span id="getDateResultMonth" th:text="${resultDate.monthOfYear}"></span></td>
        </tr>
        <tr>
          <th>日</th>
          <td><span id="getDateResultDay" th:text="${resultDate.dayOfMonth}"></span></td>
        </tr>
        <tr>
          <th>週</th>
          <td><span id="getDateResultWeek" th:text="${resultDate.dayOfWeek}"></span></td>
        </tr>
        <tr>
          <th>時</th>
          <td><span id="getDateResultHour" th:text="${resultDate.hourOfDay}"></span></td>
        </tr>
        <tr>
          <th>分</th>
          <td><span id="getDateResultMinute" th:text="${resultDate.minuteOfHour}"></span></td>
        </tr>
        <tr>
          <th>秒</th>
          <td><span id="getDateResultSecond" th:text="${resultDate.secondOfMinute}"></span></td>
        </tr>
        <tr>
          <th>ミリ秒</th>
          <td><span id="getDateResultMillis" th:text="${resultDate.millisOfSecond}"></span></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>