<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">CDLS コードリスト機能</h1>

                <div>[CDLS01] コードリストの読み込み</div>
                <ul>
                    <li><a id="cdls0101001" th:href="@{/cdls/0101/001}">cdls0101001</a></li>
                    <li><a id="cdls0101002" th:href="@{/cdls/0101/002}">cdls0101002</a></li>
                    <li><a id="cdls0102001" th:href="@{/cdls/0102/001}">cdls0102001</a></li>
                    <li><a id="cdls0102002" th:href="@{/cdls/0102/002}">cdls0102002</a></li>
                    <li><a id="cdls0103001" th:href="@{/cdls/0103/001}">cdls0103001</a></li>
                    <li><a id="cdls0103002" th:href="@{/cdls/0103/002}">cdls0103002</a></li>
                    <li><a id="cdls0103003" th:href="@{/cdls/0103/003}">cdls0103003</a></li>
                    <li><a id="cdls0104001" th:href="@{/cdls/0104/001}">cdls0104001</a></li>
                    <li><a id="cdls0104002" th:href="@{/cdls/0104/002}">cdls0104002</a></li>
                    <li><a id="cdls0105001" th:href="@{/cdls/0105/001?locale=ja}">cdls0105001</a></li>
                    <li><a id="cdls0105002" th:href="@{/cdls/0105/002?locale=en}">cdls0105002</a></li>
                    <li><a id="cdls0105003" th:href="@{/cdls/0105/003?locale=ja}">cdls0105003</a></li>
                    <li><a id="cdls0105004" th:href="@{/cdls/0105/004?locale=en}">cdls0105004</a></li>
                    <li><a id="cdls0105005" th:href="@{/cdls/0105/005?locale=ja}">cdls0105005</a></li>
                    <li><a id="cdls0105006" th:href="@{/cdls/0105/006?locale=en}">cdls0105006</a></li>
                    <li><a id="cdls0105007" th:href="@{/cdls/0105/007?locale=ja}">cdls0105007</a></li>
                    <li><a id="cdls0105008" th:href="@{/cdls/0105/008?locale=en}">cdls0105008</a></li>
                    <li><a id="cdls0106001" th:href="@{/cdls/0106/001}">cdls0106001</a></li>
                    <li><a id="cdls0107001" th:href="@{/cdls/0107/001}">cdls0107001</a></li>
                    <li><a id="cdls0107002" th:href="@{/cdls/0107/002}">cdls0107002</a></li>
                </ul>
                <div>[CDLS02] コードリストのリロード</div>
                <ul>
                    <li><a id="cdls0201001" th:href="@{/cdls/0201/001}">cdls0201001</a></li>
                    <li><a id="cdls0201002" th:href="@{/cdls/0201/002}">cdls0201002</a></li>
                    <li><a id="cdls0202001" th:href="@{/cdls/0202/001?locale=ja}">cdls0202001</a></li>
                    <li><a id="cdls0202002" th:href="@{/cdls/0202/002?locale=en}">cdls0202002</a></li>
                    <li><a id="cdls0202003" th:href="@{/cdls/0202/003?locale=ja}">cdls0202003</a></li>
                    <li><a id="cdls0202004" th:href="@{/cdls/0202/004?locale=en}">cdls0202004</a></li>
                </ul>
                <div>[CDLS03] コードリストの独自カスタマイズ</div>
                <ul>
                    <li><a id="cdls0301001" th:href="@{/cdls/0301/001}">cdls0301001</a></li>
                </ul>
                <div>[CDLS04] コードリストの記述方法のバリエーション</div>
                <ul>
                    <li><a id="cdls0401001" th:href="@{/cdls/0401/001?locale=ja}">cdls0401001</a></li>
                    <li><a id="cdls0401002" th:href="@{/cdls/0401/002?locale=en}">cdls0401002</a></li>
                    <li><a id="cdls0402001" th:href="@{/cdls/0402/001?locale=ja}">cdls0402001</a></li>
                    <li><a id="cdls0402002" th:href="@{/cdls/0402/002?locale=en}">cdls0402002</a></li>
                    <li><a id="cdls0403001" th:href="@{/cdls/0403/001}">cdls0403001</a></li>
                    <li><a id="cdls0403002" th:href="@{/cdls/0403/002}">cdls0403002</a></li>
                    <li><a id="cdls0403003" th:href="@{/cdls/0403/003}">cdls0403003</a></li>
                </ul>
                <div>[CDLS05] SpEL式でのコードリスト参照</div>
                <ul>
                    <li><a id="cdls0501001" th:href="@{/cdls/0501/001}">cdls0501001</a></li>
                    <li><a id="cdls0501002" th:href="@{/cdls/0501/002?locale=ja}">cdls0501002</a></li>
                    <li><a id="cdls0501003" th:href="@{/cdls/0501/003?locale=en}">cdls0501003</a></li>
                    <li><a id="cdls0501004" th:href="@{/cdls/0501/004?locale=de}">cdls0501004</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
