<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">コード値の入力チェック</h1>

                <div>CDLS0107001</div>
                <div>
                    <form th:action="@{/cdls/0107/001?post}" th:object="${clOrderStatusForm}" method="post">
                        <select id="cdls0107001" th:field="*{id}">
                            <option th:each="order : ${CL_ORDERSTATUS}" th:value="${order.key}" th:text="${order.value}"></option>
                        </select>
                        <span id="errorCDLS0107001" th:errors="*{id}"></span>
                        <button type="submit" id="submitCDLS0107001">Submit Codelist</button>
                    </form>
                </div>
                <div>CDLS0107002</div>
                <div>
                    <form th:action="@{/cdls/0107/002?post}" th:object="${clOrderStatusForm}" method="post">
                        <select id="cdls0107002" th:field="*{id}">
                            <option value="nonExistentValue" label="nonExistentValue"></option>
                        </select>
                        <span id="errorCDLS0107002" th:errors="*{id}"></span>
                        <button type="submit" id="submitCDLS0107002">Submit Codelist</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
