<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">認証されたユーザの単項目チェック</h1>

      <form method="post" th:action="@{/vldt/0103/003/authentication}" class="form-horizontal">

        <div th:if="${param.keySet().contains('error')}">
          <div id="accountLoginError">
            <div th:if="${SPRING_SECURITY_LAST_EXCEPTION}" class="alert">
              <ul>
                <li th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="userName" class="col-sm-2 control-label">UserName</label>
          <div class="col-sm-10">
            <input type="text" id="username" name="username" class="form-control"
              placeholder="UserName" />
          </div>
        </div>

        <div class="form-group">
          <label for="userName" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="text" id="password" name="password" class="form-control"
              placeholder="Password" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="login" name="login" class="btn btn-default">Login</button>
          </div>
        </div>

      </form>

      <form method="post" th:action="@{/vldt/0103/003/logout}" class="form-horizontal">

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="logout" name="logout" class="btn btn-default">Logout</button>
          </div>
        </div>

      </form>

      <form method="post" th:action="@{/vldt/0103/003}" th:object="${authorizedValidationForm}"
        class="form-horizontal">

        <div class="form-group">
          <label th:for="deliveryAddress" class="col-sm-2 control-label">DeliveryAddress</label>
          <div class="col-sm-10">
            <input type="text" th:field="*{deliveryAddress}" class="form-control"
              placeholder="DeliveryAddress" /> <span id="deliveryAddress.errors"
              th:errors="*{deliveryAddress}" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="validate" name="validate" class="btn btn-default" type="submit"
              value="Submit">validate</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</body>
</html>
