<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">th:errorclassの取得エラー</h1>

      <form th:action="@{/vldt/0101/014}" method="post" th:object="${displayErrMessageForm}">
        <ul id="displayErrMessageForm.errors" th:if="${#fields.hasAnyErrors()}">
          <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
        </ul>
        <label for="name" th:errorclass="error-label">Name:</label>
        <input type="text" th:field="*{name}" th:errorclass="error-input" />
        <br>
        <label for="email" th:errorclass="error-label">Email:</label>
        <input type="text" th:field="*{email}" th:errorclass="error-input" />
        <br>
        <label for="age" th:errorclass="error-label">Age:</label>
        <input type="text" th:field="*{age}" th:errorclass="error-input" />
        <br>
        <button id="validate" name="validate" type="submit" value="validate">validate</button>
      </form>

    </div>
  </div>
</body>
</html>
