<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">単項目チェック</h1>

      <form method="post" th:action="@{/vldt/0101/007}"
        th:object="${simpleValidationByInclusiveForm}" class="form-horizontal">

        <div class="form-group">
          <label th:for="priceDefault" class="col-sm-2 control-label">price(inclusive-omit)</label>
          <div class="col-sm-10">
            <input type="text" th:field="*{priceDefault}" class="form-control" placeholder="1-100" />
            <span id="priceDefault.errors" th:errors="*{priceDefault}" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <label th:for="priceFalse" class="col-sm-2 control-label">price(inclusive = false)</label>
          <div class="col-sm-10">
            <input type="text" th:field="*{priceFalse}" class="form-control" placeholder="1-99" />
            <span id="priceFalse.errors" th:errors="*{priceFalse}" class="text-danger"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="validate" name="validate" class="btn btn-default" type="submit"
              value="Submit">validate</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</body>
</html>
