<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thly/template :: layout (~{::title},~{::body/content()},'thly')}">
<head>
<title>Update Result</title>
</head>
<body>
  <div id="wrapper">
    <h2 id="bodyTitle">Update Result</h2>
    <form th:object="${staffForm}" method="post" th:action="@{/staff/update}">
      <fieldset>
        <legend>Staff Information</legend>
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <label>First Name</label>
            </div>
            <div class="col-md-4">
              <input th:field="*{firstName}" class="form-control" readonly="readonly"
                style="background-color: whitesmoke;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Last Name</label>
            </div>
            <div class="col-md-4">
              <input th:field="*{lastName}" class="form-control" readonly="readonly"
                style="background-color: whitesmoke;">
            </div>
          </div>
          <div class="row" id="authority-input">
            <div class="col-md-2">
              <label>Authority</label>
            </div>
            <div class="col-md-4"
              th:insert="~{thly/staffAuthorityFragment :: dropdownParameterized (style='background-color: whitesmoke;',disabled=true)}"></div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <button name="back" class="btn btn-default">Back</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>