<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">Controllerの実装方法(HTTPメソッドの設定)</h1>

                <form th:action="@{/thymeleaf/0101/001_1}" method="get" class="form-horizontal">
                    <div th:errors="${handleRequestForm.*}"></div>
                    <input id="aply0101001_1" class="btn btn-default" value="HTTPメソッドをGETのみ指定（GET送信）" type="submit" />
                </form>
                <form th:action="@{/thymeleaf/0101/001_2}" method="post" class="form-horizontal" th:object="${handleRequestForm}">
                    <button id="aply0101001_2" name="aply0101001_2" class="btn btn-default" type="submit" value="Submit">HTTPメソッドをPOSTのみ指定（POST送信）</button>
                </form>
                <form th:action="@{/thymeleaf/0101/001_3}" method="get" class="form-horizontal">
                    <div th:errors="${handleRequestForm.*}"></div>
                    <input id="aply0101001_3get" class="btn btn-default" value="HTTPメソッドをPOSTとGETのみ指定（GET送信）" type="submit" />
                </form>
                <form th:action="@{/thymeleaf/0101/001_3}" method="post" class="form-horizontal" th:object="${handleRequestForm}">
                    <button id="aply0101001_3post" name="aply0101001_3post" class="btn btn-default" type="submit" value="Submit">HTTPメソッドをPOSTとGETのみ指定（POST送信）</button>
                </form>
            </div>
        </div>
    </body>
</html>
