<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">Choose Process(For Method Hierarchy Authorize)</h1>

                <form th:action="@{/thymeleaf/0901/003}" method="post">
                    <br />
                    <fieldset>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <input type="submit" id="insert" class="btn btn-default" value="insert" name="insert" />
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br />
                <br />

                <form th:action="@{/thymeleaf/0901/003}" method="get">
                    <fieldset>
                        <legend>Criteria</legend>
                        <br />
                        <div class="form-group">
                            <div class="col col-md-2">
                                <input type="submit" id="select" class="btn btn-default" value="select" name="select" />
                            </div>
                            <div class="col col-md-2">
                                <label for="device">Device</label>
                            </div>
                            <div class="col col-md-3">
                                <input type="text" class="form-control input-sm" id="device" name="device" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
