<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">モデルに格納された値を日付フォーマット表示した画面（#calendars.format形式）</h1>

      <ul th:if="${testcaseId} == 'APLY1001006'">
        <li id="message1">Thymeleafが提供している#calendars.formatを利用して数値を以下に表示します。</li>
        <li id="message2" th:text="${#calendars.format(valueUsingCalendarFormat,'yyyy/MM/dd')}"></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001030'">
        <li id="message1">Thymeleafが提供している#calendars.arrayFormatを利用して数値を以下に表示します。</li>
        <li id="message2"><span
          th:each="calendar, status : ${#calendars.arrayFormat(valueUsingCalendarFormat,'yyyy/MM/dd')}"
          th:text="${status.last}? ${calendar} : |${calendar}, |" th:remove="tag"></span></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001031'">
        <li id="message1">Thymeleafが提供している#calendars.listFormatを利用して数値を以下に表示します。</li>
        <li id="message2"><span
          th:each="calendar, status : ${#calendars.listFormat(valueUsingCalendarFormat,'yyyy/MM/dd')}"
          th:text="${status.last}? ${calendar} : |${calendar}, |" th:remove="tag"></span></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001032'">
        <li id="message1">Thymeleafが提供している#calendars.setFormatを利用して数値を以下に表示します。</li>
        <li id="message2"><span
          th:each="calendar, status : ${#calendars.setFormat(valueUsingCalendarFormat,'yyyy/MM/dd')}"
          th:text="${status.last}? ${calendar} : |${calendar}, |" th:remove="tag"></span></li>
      </ul>


    </div>
  </div>
</body>
</html>
