<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">モデルに格納されたコレクション型の値を表示できることの確認</h1>
      <br> Collection型の中身(インデックスあり)
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Age</th>
          <th>Conditions</th>
        </tr>
        <tr th:each="thymeleafForm, status : ${thymeleafFormListForm.thymeleafFormList}">
          <td th:text="${status.count}"></td>
          <td th:text="${thymeleafForm.userName}"></td>
          <td th:text="${thymeleafForm.age}"></td>
          <td th:text="${thymeleafForm.conditions}"></td>
        </tr>
      </table>

    </div>
  </div>
</body>
</html>
