<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">モデルに格納された値を数値フォーマット表示した画面（#numbers.formatDecimal形式）</h1>

      <ul th:if="${testcaseId} == 'APLY1001003'">
        <li id="message1">Thymeleafが提供している#numbers.formatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2"
          th:text="${#numbers.formatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'POINT')}"></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001010'">
        <li id="message1">Thymeleafが提供している#numbers.arrayFormatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2">
          <span th:each="number, status : ${#numbers.arrayFormatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'POINT')}" th:text="${status.last}? ${number} : |${number}, |" th:remove="tag"></span></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001011'">
        <li id="message1">Thymeleafが提供している#numbers.listFormatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2">
          <span th:each="number, status : ${#numbers.listFormatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'POINT')}" th:text="${status.last}? ${number} : |${number}, |" th:remove="tag"></span></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001012'">
        <li id="message1">Thymeleafが提供している#numbers.setFormatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2">
          <span th:each="number, status : ${#numbers.setFormatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'POINT')}" th:text="${status.last}? ${number} : |${number}, |" th:remove="tag"></span></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001022'">
        <li id="message1">Thymeleafが提供している#numbers.formatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2"
          th:text="${#numbers.formatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'COMMA')}"></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001023'">
        <li id="message1">Thymeleafが提供している#numbers.formatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2"
          th:text="${#numbers.formatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'WHITESPACE')}"></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001024'">
        <li id="message1">Thymeleafが提供している#numbers.formatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2"
          th:text="${#numbers.formatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'NONE')}"></li>
      </ul>
      <ul th:if="${testcaseId} == 'APLY1001025'">
        <li id="message1">Thymeleafが提供している#numbers.formatDecimalを利用して数値を以下に表示します。</li>
        <li id="message2"
          th:text="${#numbers.formatDecimal(valueUsingNumberFormatDecimal,1,'COMMA',2,'DEFAULT')}"></li>
        <li id="message3" th:text="${#locale}"></li>
      </ul>
    </div>
  </div>
</body>
</html>
