<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">HLCH ヘルスチェック</h1>

                <div>[HLCH01] ヘルスチェック処理結果の確認</div>
                <ul>
                    <li><a id="hlch0101001" th:href="@{/hlch/0101/001}">hlch0101001</a></li>
                    <li><a id="hlch0101002" th:href="@{/hlch/0101/002}">hlch0101002</a></li>
                </ul>

                <div>[HLCH02] 例外発生時のレスポンスの確認</div>
                <ul>
                    <li><a id="hlch0201001" th:href="@{/hlch/0201/001}">hlch0201001</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
