<?xml version='1.0' encoding='utf-8'?>
<!-- web application context file for tomcat. -->
<!-- this file should be place at /META-INF/context.xml -->
<Context>

  <Resource name="jdbc/springFunctionaltestDataSource" type="javax.sql.DataSource"
    driverClassName="org.postgresql.Driver" username="postgres" password="P0stgres"
    url="jdbc:postgresql://localhost:5432/spring-functionaltest" maxIdle="16" minIdle="0"
    maxWaitMillis="60000" maxTotal="96" />

  <Resource name="jdbc/springFunctionaltestDataSourceOpen" type="javax.sql.DataSource"
    driverClassName="org.postgresql.Driver" username="postgres" password="P0stgres"
    url="jdbc:postgresql://localhost:5432/spring-functionaltest-open" maxIdle="16" minIdle="0"
    maxWaitMillis="60000" maxTotal="96" />

  <Resource name="jdbc/springFunctionaltestDataSourceClose" type="javax.sql.DataSource"
    driverClassName="org.postgresql.Driver" username="postgres" password="P0stgres"
    url="jdbc:postgresql://localhost:5432/spring-functionaltest-close" maxIdle="16" minIdle="0"
    maxWaitMillis="60000" maxTotal="96" />

  <Resource name="mail/Session_postfix-dovecot" auth="Container" type="javax.mail.Session"
    mail.smtp.host="localhost" mail.smtp.port="7025" mail.pop3.host="localhost" mail.pop3.port="7110" />
</Context>
