.errorMessage {
    color: red;
}
.search-field {
    line-height: 1.4;
    margin: 5px auto 15px auto;
    width: 780px;
}

.space {
    margin-right: 1em;
}

.inline {
    display: inline;
}

.customer-search-field {
    width: 550px;
}

.uploadFile-field {
    width: 500px;
}
