<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">secondView</h1>
                <form id="ID" th:action="@{/thymeleaf/0303/004}" method="post">
                    <input type="submit" id="third" name="third" value="third" />
                </form>
            </div>
        </div>
    </body>
</html>
