<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>OAuth Approval</title>
</head>
<body>
  <div id="wrapper">
    <h1>OAuth Approval</h1>
    <p
      th:text="|Do you authorize ${authorizationRequest.clientId} to access your protected resources?|"></p>
    <form id="confirmationForm" th:action="@{/oth2/oauth/authorize}" method="post"
      th:object="${confirmationForm}">

      <ul>
        <li th:each="scope : ${scopes}" th:object="${scope}"><span th:text="*{key}"></span> <input
          type="radio" th:name="*{key}" th:id="|*{key}_approve|" value="true" /><label
          th:for="|*{key}_approve|">Approve</label> <input type="radio" th:name="*{key}"
          th:id="|*{key}_deny|" value="false" /><label th:for="|*{key}_deny|">Deny</label></li>
      </ul>
      <input name="user_oauth_approval" value="true" type="hidden" /> <label> <input
        id="authorize" type="submit" />
      </label>
    </form>
  </div>
</body>
</html>
