<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <ul>
                    <li th:each="arrayDate : ${#temporals.arrayFormatISO(resultDate)}">DateISOFormat:<span th:id="${#ids.seq('getDateISO')}" th:text="${arrayDate}"></span></li>
                </ul>
            </div>
        </div>
    </body>
</html>
