<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <legend>Method Validation確認 JavaBean 確認画面</legend>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <label>userId</label>
                        </div>
                        <div id="userId" class="col-md-4" th:text="${userInfo.userId}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>userName</label>
                        </div>
                        <div id="userName" class="col-md-4" th:text="${userInfo.userName}"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>dateOfBirth</label>
                        </div>
                        <div id="dateOfBirth" class="col-md-4" th:text="${userInfo.dateOfBirth}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
