<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">JdbcCodeListの読み込み</h1>

      <div>CDLS0103001</div>
      <div>
        <select id="cdls0103001_thymeleaf" th:field="${codeListForm.code}">
          <option th:each="authority : ${CL_AUTHORITIES}" th:value="${authority.key}"
            th:text="${authority.value}"></option>
        </select>
      </div>
      <div>CDLS0103002</div>
      <div>
        <form th:action="@{/thymeleaf/0103/002}" th:object="${clAuthoritiesForm}" method="post">
          <select id="cdls0103002_thymeleaf" th:field="*{id}">
            <option th:each="authority : ${CL_AUTHORITIES}" th:value="${authority.key}"
              th:text="${authority.value}"></option>
          </select> <span th:errors="*{id}"></span>
          <button id="cdls0103002_thymeleafSubmit" type="submit" name="post">Submit</button>
        </form>
        <div id="cdls0103002_thymeleafResult" th:text="${authoritiesCodeListValue}"></div>
      </div>
    </div>
  </div>
</body>
</html>