<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">SimpleMapCodeListの読み込み</h1>

      <div>CDLS0101001</div>
      <div>
        <form th:object="${codeListForm}" method="post">
          <select id="cdls0101001_thymeleaf" th:field="*{code}">
            <option value="">--Select--</option>
            <option th:each="order : ${CL_ORDERSTATUS}" th:value="${order.key}"
              th:text="${order.value}"></option>
          </select>
        </form>
      </div>
      <div>CDLS0101002</div>
      <div>
        <form th:action="@{/thymeleaf/0101/002}" th:object="${clOrderStatusForm}" method="post">
          <select id="cdls0101002_thymeleaf" th:field="*{id}">
            <option value="">--Select--</option>
            <option th:each="order : ${CL_ORDERSTATUS}" th:value="${order.key}"
              th:text="${order.value}"></option>
          </select> <span th:errors="*{id}"></span>
          <button id="cdls0101002_thymeleafSubmit" type="submit" name="post">Submit</button>
        </form>
        <div id="cdls0101002_thymeleafResult" th:text="${orderStatusCodeListValue}"></div>
      </div>
    </div>
  </div>
</body>
</html>