<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">画面にSpEL式を記述して、コードリストBeanを参照できること</h1>

                <div>CDLS0501001</div>
                <div>
                    <select id="cdls0501001_thymeleaf" th:field="${codeListForm.code}">
                        <option th:each="order : ${@CL_ORDERSTATUS.asMap()}" th:value="${order.key}" th:text="${order.value}"></option>
                    </select>
                </div>
            </div>

            <div>CDLS0501002</div>
            <div>
                <select id="cdls0501002_thymeleaf" th:field="${codeListForm.code}">
                    <option
                        th:each="price : ${@CL_I18N_PRICE.asMap(requestLocale).isEmpty()} ?
          ${@CL_I18N_PRICE.asMap(fallBackLocale)} : ${@CL_I18N_PRICE.asMap(requestLocale)}"
                        th:value="${price.key}"
                        th:text="${price.value}"
                    ></option>
                </select>
            </div>

            <div>CDLS0501003</div>
            <div>
                <select id="cdls0501003_thymeleaf" th:field="${codeListForm.code}">
                    <option
                        th:each="price : ${@CL_I18N_PRICE.asMap(requestLocale).isEmpty()} ?
          ${@CL_I18N_PRICE.asMap(fallBackLocale)} : ${@CL_I18N_PRICE.asMap(requestLocale)}"
                        th:value="${price.key}"
                        th:text="${price.value}"
                    ></option>
                </select>
            </div>

            <div>CDLS0501004</div>
            <div>
                <select id="cdls0501004_thymeleaf" th:field="${codeListForm.code}">
                    <option
                        th:each="price : ${@CL_I18N_PRICE.asMap(requestLocale).isEmpty()} ?
          ${@CL_I18N_PRICE.asMap(fallBackLocale)} : ${@CL_I18N_PRICE.asMap(requestLocale)}"
                        th:value="${price.key}"
                        th:text="${price.value}"
                    ></option>
                </select>
            </div>
        </div>
    </body>
</html>
