<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">SimpleI18nCodeListの読み込み</h1>

                <div>CDLS0105001</div>
                <div>
                    <select id="cdls0105001_thymeleaf" th:field="${codeListForm.code}">
                        <option th:each="price : ${CL_I18N_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                    </select>
                </div>
                <div>CDLS0105002</div>
                <div>
                    <select id="cdls0105002_thymeleaf" th:field="${codeListForm.code}">
                        <option th:each="price : ${CL_I18N_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                    </select>
                </div>
                <div>CDLS0105003</div>
                <div>
                    <form th:action="@{/thymeleaf/0105/003}" th:object="${clI18nPriceForm}" method="post">
                        <select id="cdls0105003_thymeleaf" th:field="*{id}">
                            <option th:each="price : ${CL_I18N_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                        </select>
                        <span th:errors="*{id}"></span>
                        <button id="cdls0105003_thymeleafSubmit" type="submit" name="post">Submit</button>
                    </form>
                    <div id="cdls0105003_thymeleafResult" th:text="${i18nPriceCodeListValue}"></div>
                </div>
                <div>CDLS0105004</div>
                <div>
                    <form th:action="@{/thymeleaf/0105/004}" th:object="${clI18nPriceForm}" method="post">
                        <select id="cdls0105004_thymeleaf" th:field="*{id}">
                            <option th:each="price : ${CL_I18N_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                        </select>
                        <span th:errors="*{id}"></span>
                        <button id="cdls0105004_thymeleafSubmit" type="submit" name="post">Submit</button>
                    </form>
                    <div id="cdls0105004_thymeleafResult" th:text="${i18nPriceCodeListValue}"></div>
                </div>
                <div>CDLS0105005</div>
                <div>
                    <select id="cdls0105005_thymeleaf" th:field="${codeListForm.code}">
                        <option th:each="price : ${CL_I18N_DB_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                    </select>
                </div>
                <div>CDLS0105006</div>
                <div>
                    <select id="cdls0105006_thymeleaf" th:field="${codeListForm.code}">
                        <option th:each="price : ${CL_I18N_DB_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                    </select>
                </div>
                <div>CDLS0105007</div>
                <div>
                    <form th:action="@{/thymeleaf/0105/007}" th:object="${clI18nDBPriceForm}" method="post">
                        <select id="cdls0105007_thymeleaf" th:field="*{id}">
                            <option th:each="price : ${CL_I18N_DB_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                        </select>
                        <span th:errors="*{id}"></span>
                        <button id="cdls0105007_thymeleafSubmit" type="submit" name="post">Submit</button>
                    </form>
                    <div id="cdls0105007_thymeleafResult" th:text="${i18nDBPriceCodeListValue}"></div>
                </div>
                <div>CDLS0105008</div>
                <div>
                    <form th:action="@{/thymeleaf/0105/008}" th:object="${clI18nDBPriceForm}" method="post">
                        <select id="cdls0105008_thymeleaf" th:field="*{id}">
                            <option th:each="price : ${CL_I18N_DB_PRICE}" th:value="${price.key}" th:text="${price.value}"></option>
                        </select>
                        <span th:errors="*{id}"></span>
                        <button id="cdls0105008_thymeleafSubmit" type="submit" name="post">Submit</button>
                    </form>
                    <div id="cdls0105008_thymeleafResult" th:text="${i18nDBPriceCodeListValue}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
