<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h3 id="screenTitle">コミッター検索画面</h3>

      <div id="xMLHttpRequestResult" class="hidden alert">
        <ul>
          <li id="returnStatus"></li>
        </ul>
      </div>
      <div id="resultMessage" class="hidden alert"></div>
      <div class="text-center">
        <form id="committerCriteria" th:object="${committerCriteria}" method="post" th:action>
          <label for="username" class="space">コミッター名</label> <input type="text"
            th:field="*{username}" class="space customer-search-field form-control inline" /> <input
            id="searchBtn" type="button" class="btn btn-default" value="検索"
            onclick="return cspr.search()" />
        </form>
      </div>
      <br>
      <div id="result" class="text-center">
        <table id="committerResultTable"
          class="hidden table table-striped table-bordered table-condensed csprtable">
          <thead>
            <tr>
              <th class="text-center">No.</th>
              <th class="text-center">ユーザ名</th>
              <th class="text-center">Email</th>
              <th />
            </tr>
          </thead>
          <tbody id="committerResult">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>