<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h3 id="screenTitle">ユーザ登録画面</h3>

                <form th:action="@{/disabledcspr}" class="form-horizontal" method="post" th:object="${userForm}">
                    <fieldset>
                        <legend>ユーザ情報</legend>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="userName">ユーザ名</label>
                            </div>
                            <div class="col col-md-4">
                                <input type="text" th:field="*{userName}" class="form-control input-sm" />
                            </div>
                            <div class="col col-md-5">
                                <span th:errors="*{userName}" class="errorMessage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="email">Email</label>
                            </div>
                            <div class="col col-md-4">
                                <input type="text" th:field="*{email}" class="form-control input-sm" />
                            </div>
                            <div class="col col-md-5">
                                <span th:errors="*{email}" class="errorMessage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="password">パスワード</label>
                            </div>
                            <div class="col col-md-4">
                                <input type="password" th:field="*{password}" class="form-control input-sm" />
                            </div>
                            <div class="col col-md-5">
                                <span th:errors="*{password}" class="errorMessage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="confirmPassword">確認パスワード</label>
                            </div>
                            <div class="col col-md-4">
                                <input type="password" th:field="*{confirmPassword}" class="form-control input-sm" />
                            </div>
                            <div class="col col-md-5">
                                <span th:errors="*{confirmPassword}" class="errorMessage"></span>
                            </div>
                        </div>
                        <div class="form-group col col-md-5">
                            <button id="return" name="return" class="btn btn-default" type="submit" value="Submit">戻る</button>
                            <button id="confirm" name="confirm" class="btn btn-default" type="submit" value="Submit">確認</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
