<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h3 id="screenTitle">ユーザ登録完了画面</h3>

      <div>ユーザ登録が正常に完了致しました。</div>
      <br />
      <div>本登録は仮登録となります。そのためお手数ですが以下の手順に沿って本登録をお願い致します。</div>
      <div>登録メールアドレスに送信される「Spring ID登録確認」という題名のメールを参照し、認証用のURLを押下してください。</div>
      <br>
      <form th:action="@{/cspr}" class="form-horizontal" method="get" th:object="${userForm}">
        <div class="form-group col col-md-5">
          <button id="return" name="return" class="btn btn-default" type="submit" value="Submit">戻る</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
