<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
  <div th:fragment="header">
    <!-- ナビゲーションバー -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <p id="AuthServerTop" class="navbar-brand">spring-functionaltest-web-oauth2-remote-thymeleaf</p>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</body>
</html>