<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <!-- Root ApplicationContext -->
    <param-value>
            classpath*:META-INF/spring/applicationContext.xml
            classpath*:META-INF/spring/oth2/oauth2-client.xml
            classpath*:META-INF/spring/spring-security.xml
            classpath*:META-INF/spring/flup/applicationContext-flup.xml
            classpath*:META-INF/spring/aply/applicationContext-aply.xml
            classpath*:META-INF/spring/spring-functionaltest-ws.xml
            classpath*:META-INF/spring/rscl-app/applicationContext-rscl.xml
            classpath*:META-INF/spring/jmss/applicationContext-jmss.xml
    </param-value>
  </context-param>
  <listener>
    <listener-class>org.terasoluna.gfw.web.logging.HttpSessionEventLoggingListener</listener-class>
  </listener>

  <!-- For ATHN0103 test -->
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>

  <filter>
    <filter-name>MDCClearFilter</filter-name>
    <filter-class>org.terasoluna.gfw.web.logging.mdc.MDCClearFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MDCClearFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>exceptionLoggingFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>exceptionLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>XTrackMDCPutFilter</filter-name>
    <filter-class>org.terasoluna.gfw.web.logging.mdc.XTrackMDCPutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XTrackMDCPutFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>loggingIpAddressFilter</filter-name>
    <filter-class>jp.co.ntt.fw.spring.functionaltest.app.aply.LoggingIpAddressFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loggingIpAddressFilter</filter-name>
    <url-pattern>/aply/0401/001</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>loggingIpAddressAsBeanFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loggingIpAddressAsBeanFilter</filter-name>
    <url-pattern>/aply/0401/002</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/djpa/book/filterSrch</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>oauth2ClientContextFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>oauth2ClientContextFilter</filter-name>
    <url-pattern>/oth2/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>intr0101AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0101.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0101AppServlet</servlet-name>
    <url-pattern>/intr/0101/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0101002AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0101002.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0101002AppServlet</servlet-name>
    <url-pattern>/intr/0101/002</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0102AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0102.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0102AppServlet</servlet-name>
    <url-pattern>/intr/0102/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0201AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0201.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0201AppServlet</servlet-name>
    <url-pattern>/intr/0201/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0201002AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0201002.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0201002AppServlet</servlet-name>
    <url-pattern>/intr/0201/002</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0201003AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0201003.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0201003AppServlet</servlet-name>
    <url-pattern>/intr/0201/003</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0202AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0202.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0202AppServlet</servlet-name>
    <url-pattern>/intr/0202/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0202002AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0202002.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0202002AppServlet</servlet-name>
    <url-pattern>/intr/0202/002</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0202003AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0202003.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0202003AppServlet</servlet-name>
    <url-pattern>/intr/0202/003</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>intr0301AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/intr/spring-mvc-intr0301.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>intr0301AppServlet</servlet-name>
    <url-pattern>/intr/0301/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pgnt0102001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/pgnt/spring-mvc-pgnt0102001.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>pgnt0102001AppServlet</servlet-name>
    <url-pattern>/pgnt/celebritySearchDispFive</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pgnt0102002AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/pgnt/spring-mvc-pgnt0102002.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>pgnt0102002AppServlet</servlet-name>
    <url-pattern>/pgnt/articleSearchDescArticleId</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>prmnAppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/prmn/spring-mvc-prmn.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>prmnAppServlet</servlet-name>
    <url-pattern>/prmn/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>prmn01AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/prmn/spring-mvc-prmn01.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>prmn01AppServlet</servlet-name>
    <url-pattern>/prmn/0101/001</url-pattern>
    <url-pattern>/prmn/0101/002</url-pattern>
    <url-pattern>/prmn/0102/001</url-pattern>
    <url-pattern>/prmn/0102/002</url-pattern>
    <url-pattern>/prmn/0102/003</url-pattern>
    <url-pattern>/prmn/0103/001</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>prmn02AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/prmn/spring-mvc-prmn02.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>prmn02AppServlet</servlet-name>
    <url-pattern>/prmn/0201/001</url-pattern>
    <url-pattern>/prmn/0202/001</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>prmn03AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/prmn/spring-mvc-prmn03.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>prmn03AppServlet</servlet-name>
    <url-pattern>/prmn/0301/001</url-pattern>
    <url-pattern>/prmn/0302/001</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>prmn04AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/prmn/spring-mvc-prmn04.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>prmn04AppServlet</servlet-name>
    <url-pattern>/prmn/0401/001</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cspr0201005AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/cspr/spring-mvc-cspr0201005.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cspr0201005AppServlet</servlet-name>
    <url-pattern>/cspr/0201/005</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ssmn0401001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/ssmn/spring-mvc-ssmn0401001.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssmn0401001AppServlet</servlet-name>
    <url-pattern>/ssmn/0401/001/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ssmn0401002AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/ssmn/spring-mvc-ssmn0401002.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssmn0401002AppServlet</servlet-name>
    <url-pattern>/ssmn/0401/002/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ssmn0402001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/ssmn/spring-mvc-ssmn0402001.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssmn0402001AppServlet</servlet-name>
    <url-pattern>/ssmn/0402/001/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ssmn0601001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/ssmn/spring-mvc-ssmn0601001.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssmn0601001AppServlet</servlet-name>
    <url-pattern>/ssmn/0601/001/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>athnAppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/athn/spring-mvc-athn.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>athnAppServlet</servlet-name>
    <url-pattern>/athn/login</url-pattern>
    <url-pattern>/athn/badCredentials</url-pattern>
    <url-pattern>/athn/usernameNotFound</url-pattern>
    <url-pattern>/athn/disabled</url-pattern>
    <url-pattern>/athn/providerNotFound</url-pattern>
    <url-pattern>/athn/authenticationService</url-pattern>
    <url-pattern>/athn/defaultError</url-pattern>
    <url-pattern>/athn/sessionAuthentication</url-pattern>
    <url-pattern>/athn/systemError</url-pattern>
    <url-pattern>/athn/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>exhn0201001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/exhn/spring-mvc-exhn0201001.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>exhn0201001AppServlet</servlet-name>
    <url-pattern>/exhn/0201/001</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>exhn0601003AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/exhn/spring-mvc-exhn0601003.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>exhn0601003AppServlet</servlet-name>
    <url-pattern>/exhn/0601/003</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>exhn0601004AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/exhn/spring-mvc-exhn0601004.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>exhn0601004AppServlet</servlet-name>
    <url-pattern>/exhn/0601/004/001</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>exhn0701014_015AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/exhn/spring-mvc-exhn0701014.xml</param-value>
    </init-param>
    <init-param>
      <param-name>throwExceptionIfNoHandlerFound</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>exhn0701014_015AppServlet</servlet-name>
    <url-pattern>/exhn/0701/014</url-pattern>
    <url-pattern>/exhn/0701/015</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>exhn0801001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/exhn/spring-mvc-exhn0801001.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>exhn0801001AppServlet</servlet-name>
    <url-pattern>/exhn/0801/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ajax0104001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/ajax/spring-mvc-ajax0104001.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajax0104001AppServlet</servlet-name>
    <url-pattern>/ajax/0104/001/write</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>athrAppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/athr/spring-mvc-athr.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>athrAppServlet</servlet-name>
    <url-pattern>/athr/loginForStaff</url-pattern>
    <url-pattern>/athr/loginForUrlHasRole</url-pattern>
    <url-pattern>/athr/loginForRoleAdmin</url-pattern>
    <url-pattern>/athr/loginForMethod</url-pattern>
    <url-pattern>/athr/loginForRoleHierarchy</url-pattern>
    <url-pattern>/athr/loginForJSPTagRoleAdmin</url-pattern>
    <url-pattern>/athr/methodAccessAllowedPage</url-pattern>
    <url-pattern>/athr/methodAccessDeniedPage</url-pattern>
    <url-pattern>/athr/hierarchyAccessDeniedPage</url-pattern>
    <url-pattern>/athr/urlPatternHasRoleAccessDeniedPage</url-pattern>
    <url-pattern>/athr/methodHierarchyAccessDeniedPage</url-pattern>
    <url-pattern>/athr/accessDeniedPage</url-pattern>
    <url-pattern>/athr/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply0401003AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401003.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply0401003AppServlet</servlet-name>
    <url-pattern>/aply/0401/003/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply0401004AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401004.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply0401004AppServlet</servlet-name>
    <url-pattern>/aply/0401/004</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100402AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401004.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100402AppServlet</servlet-name>
    <url-pattern>/aply/0401/004/02/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply0401005AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401005.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply0401005AppServlet</servlet-name>
    <url-pattern>/aply/0401/005</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100502AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401005.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100502AppServlet</servlet-name>
    <url-pattern>/aply/0401/005/02/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply0401006AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401006.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply0401006AppServlet</servlet-name>
    <url-pattern>/aply/0401/006</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100602AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401006.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100602AppServlet</servlet-name>
    <url-pattern>/aply/0401/006/02/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100603AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401006.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100603AppServlet</servlet-name>
    <url-pattern>/aply/0401/006/03/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100604AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401006.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100604AppServlet</servlet-name>
    <url-pattern>/aply/0401/006/04/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply0401007AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401007.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply0401007AppServlet</servlet-name>
    <url-pattern>/aply/0401/007</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100702AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401007.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100702AppServlet</servlet-name>
    <url-pattern>/aply/0401/007/02/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100703AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401007.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100703AppServlet</servlet-name>
    <url-pattern>/aply/0401/007/03/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100704AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401007.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100704AppServlet</servlet-name>
    <url-pattern>/aply/0401/007/04/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply0401008AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401008.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply0401008AppServlet</servlet-name>
    <url-pattern>/aply/0401/008</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100802AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401008.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100802AppServlet</servlet-name>
    <url-pattern>/aply/0401/008/02/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100803AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401008.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100803AppServlet</servlet-name>
    <url-pattern>/aply/0401/008/03/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100804AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401008.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100804AppServlet</servlet-name>
    <url-pattern>/aply/0401/008/04/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply0401009AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401009.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply0401009AppServlet</servlet-name>
    <url-pattern>/aply/0401/009</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100902AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401009.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100902AppServlet</servlet-name>
    <url-pattern>/aply/0401/009/02/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100903AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401009.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100903AppServlet</servlet-name>
    <url-pattern>/aply/0401/009/03/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>aply040100904AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/aply/spring-mvc-aply0401009.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aply040100904AppServlet</servlet-name>
    <url-pattern>/aply/0401/009/04/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>spscAppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/spsc/spring-mvc-spsc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>spscAppServlet</servlet-name>
    <url-pattern>/spsc/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>spsmAppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/spsm/spring-mvc-spsm.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>spsmAppServlet</servlet-name>
    <url-pattern>/spsm/*</url-pattern>
    <url-pattern>/spsm/invalidSessionError</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>soapServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!-- ApplicationContext for Spring MVC -->
      <param-value>classpath*:META-INF/spring/soap/spring-mvc-soap.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <max-file-size>10000</max-file-size>
      <max-request-size>81920</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>soapServlet</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>

  <!-- For REST API start -->
  <servlet>
    <servlet-name>restApiServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!-- ApplicationContext for Spring MVC (REST) -->
      <param-value>classpath*:META-INF/spring/rest/spring-mvc-rest.xml</param-value>
    </init-param>
    <init-param>
      <param-name>dispatchOptionsRequest</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>restApiServlet</servlet-name>
    <url-pattern>/api/v1/DEFAULT_VIEW_INCLUSION-enable/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>restApiServletDefaultViewInclusionDisable</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!-- ApplicationContext for Spring MVC (REST (MapperFeature.DEFAULT_VIEW_INCLUSION is disable)) -->
      <param-value>classpath*:META-INF/spring/rest/spring-mvc-rest-DEFAULT_VIEW_INCLUSION-disable.xml</param-value>
    </init-param>
    <init-param>
      <param-name>dispatchOptionsRequest</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>restApiServletDefaultViewInclusionDisable</servlet-name>
    <url-pattern>/api/v1/DEFAULT_VIEW_INCLUSION-disable/*</url-pattern>
  </servlet-mapping>
  <!-- For REST API end -->

  <servlet>
    <servlet-name>rsclApiServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/rscl-api/spring-mvc-rscl.xml</param-value>
    </init-param>
    <init-param>
      <param-name>dispatchOptionsRequest</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <max-file-size>512</max-file-size>
      <max-request-size>8192</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>rsclApiServlet</servlet-name>
    <url-pattern>/api/v1/rscl/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>vldt0304001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/vldt/spring-mvc-vldt0304.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>vldt0304001AppServlet</servlet-name>
    <url-pattern>/vldt/0304/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vldt0502AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/vldt/spring-mvc-vldt0502.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>vldt0502AppServlet</servlet-name>
    <url-pattern>/vldt/0502/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vldt0503AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/vldt/spring-mvc-vldt0503.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>vldt0503AppServlet</servlet-name>
    <url-pattern>/vldt/0503/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>lggn0402001AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/lggn/spring-mvc-lggn0402001.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>lggn0402001AppServlet</servlet-name>
    <url-pattern>/lggn/0402/001</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dbsp0303AppServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:META-INF/spring/dbsp/spring-mvc-dbsp0303.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbsp0303AppServlet</servlet-name>
    <url-pattern>/dbsp/0303/*</url-pattern>
  </servlet-mapping>

  <!-- For SOAP set context path of TodoWebService start -->
  <servlet>
    <servlet-name>TodoWebService</servlet-name>
    <servlet-class>jp.co.ntt.fw.spring.functionaltest.ws.soap.TodoWebServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoWebService</servlet-name>
    <url-pattern>/ws/TodoWebService</url-pattern>
  </servlet-mapping>
  <!-- For SOAP set context path of TodoWebService end -->

  <jsp-config>
    <jsp-property-group>
      <url-pattern>/WEB-INF/views/common/hlch/ok.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <include-prelude>/WEB-INF/views/common/include.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/common/error/systemError.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/views/common/error/requestError.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/views/common/error/forbiddenError.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/common/error/resourceNotFoundError.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/WEB-INF/views/common/error/methodNotAllowedError.jsp</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/WEB-INF/views/common/error/notAcceptableError.jsp</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/WEB-INF/views/common/error/unsupportedMediaTypeError.jsp</location>
  </error-page>
  <!-- Error notified to Servlet Container specifally for REST API start -->
  <!-- Controller call from Servlet Container start -->
  <error-page>
    <error-code>503</error-code>
    <location>/api/v1/DEFAULT_VIEW_INCLUSION-enable/error</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/api/v1/DEFAULT_VIEW_INCLUSION-enable/error</location>
  </error-page>
  <!-- Controller call from Servlet Container end -->
  <!-- Sending static json response from Servlet Container start -->
  <error-page>
    <error-code>508</error-code>
    <location>/WEB-INF/views/common/error/unknownError.json</location>
  </error-page>
  <!-- Sending static json response from Servlet Container end -->
  <!-- Error notified to Servlet Container specifally for REST API end -->
  <error-page>
    <exception-type>org.springframework.web.multipart.MultipartException</exception-type>
    <location>/WEB-INF/views/common/error/fileUploadError.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/views/common/error/unhandledSystemError.html</location>
  </error-page>
  <!-- Error notified to Servlet Container specifally for REST API start -->
  <!-- MIME type for static json response for double byte characters start -->
  <mime-mapping>
    <extension>json</extension>
    <mime-type>application/json;charset=UTF-8</mime-type>
  </mime-mapping>
  <!-- MIME type for static json response for double byte characters end -->
  <!-- Error notified to Servlet Container specifally for REST API end -->
  <session-config>
    <!-- 30min -->
    <session-timeout>30</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <!-- <secure>true</secure> -->
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

</web-app>
