<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">OAUTH</h1>

      <div>[OTH2 (Common)]</div>
      <ul>
        <li><a id="oth20000001" th:href="@{/oth2/client/common/clear}">Clear Authorization</a></li>
      </ul>

      <div>[OTH201 (Authorization Code Grant)]</div>
      <ul>
        <li><a id="oth20101001" th:href="@{/oth2/client/01/01/001/get?id=123}">GET</a> <a
          id="oth20101002" th:href="@{/oth2/client/01/01/002/post?id=123}">POST</a> <a
          id="oth20101003" th:href="@{/oth2/client/01/01/003/put/123}">PUT</a> <a id="oth20101004"
          th:href="@{/oth2/client/01/01/004/delete/123}">DELETE</a> <a id="oth20101010"
          th:href="@{/oth2/client/01/01/010/delete/123}">DELETE(Not registered scope in client)</a></li>
      </ul>

      <div>[OTH201 (Implicit Grant)]</div>
      <ul>
        <li><a id="oth20102001" th:href="@{/oth2/client/01/02/001/get}">GET</a> <a
          id="oth20102002" th:href="@{/oth2/client/01/02/002/post}">POST</a> <a id="oth20102003"
          th:href="@{/oth2/client/01/02/003/put}">PUT</a> <a id="oth20102004"
          th:href="@{/oth2/client/01/02/004/delete}">DELETE</a> <a id="oth20102010"
          th:href="@{/oth2/client/01/02/010/delete}">DELETE(Not registered scope in client)</a></li>
      </ul>

      <div>[OTH201 (Client Password Credential Grant)]</div>
      <ul>
        <li><a id="oth20103001" th:href="@{/oth2/client/01/03/001/get/123}">GET</a> <a
          id="oth20103002" th:href="@{/oth2/client/01/03/002/post/123}">POST</a> <a id="oth20103003"
          th:href="@{/oth2/client/01/03/003/put/123}"}>PUT</a> <a id="oth20103004"
          th:href="@{/oth2/client/01/03/004/delete/123}">DELETE</a> <a id="oth20103005"
          th:href="@{/oth2/client/01/03/005/delete/123}">DELETE(Not registered scope in client)</a></li>
      </ul>

      <div>[OTH201 (Resource Owner Password Credential Grant)]</div>
      <ul>
        <li><a id="oth20104001" th:href="@{/oth2/client/01/04/}">GET</a> <a id="oth20104002"
          th:href="@{/oth2/client/01/04/}">POST</a> <a id="oth20104003"
          th:href="@{/oth2/client/01/04/}">PUT</a> <a id="oth20104004"
          th:href="@{/oth2/client/01/04/}">DELETE</a> <a id="oth20104005"
          th:href="@{/oth2/client/01/04/}">DELETE(Not registered scope in client)</a></li>
      </ul>

      <div>[OTH202 (Authorization Code Grant / Access Token cooperate via Memory)]</div>
      <ul>
        <li><a id="oth20201001" th:href="@{/oth2/client/02/01/001/get/123}">GET</a> <a
          id="oth20201002" th:href="@{/oth2/client/02/01/002/post/123}">POST</a> <a id="oth20201003"
          th:href="@{/oth2/client/02/01/003/put/123}">PUT</a> <a id="oth20201004"
          th:href="@{/oth2/client/02/01/004/delete/123}">DELETE</a></li>
      </ul>

      <div>[OTH203 (Authorization Code Grant / Access Token cooperate via Remote)]</div>
      <ul>
        <li><a id="oth20301001" th:href="@{/oth2/client/03/01/001/get/123}">GET</a> <a
          id="oth20301002" th:href="@{/oth2/client/03/01/002/post/123}">POST</a> <a id="oth20301003"
          th:href="@{/oth2/client/03/01/003/put/123}">PUT</a> <a id="oth20301004"
          th:href="@{/oth2/client/03/01/004/delete/123}">DELETE</a> <a id="oth21001002"
          th:href="@{/oth2/client/03/01/005/get/123}">GET(DEAFAULT)</a> <a id="oth21101007"
          th:href="@{/oth2/client/03/01/006/get/123}">GET(unauthorized at check token endpoint)</a></li>
      </ul>

      <div>[OTH205 (Authorization Code Grant / Scope RU)]</div>
      <ul>
        <li><a id="oth20502001" th:href="@{/oth2/client/05/02/001/get/123}">GET</a></li>
      </ul>

      <div>[OTH207 (Revoke Token)]</div>
      <ul>
        <li><a id="oth20701001" th:href="@{/oth2/client/token/revoke/authcode_db}">REVOKE(AUTHCODE
            via DB)</a> <a id="oth20701002" th:href="@{/oth2/client/token/revoke/authcode_memory}">REVOKE(AUTHCODE
            via Memory)</a> <a id="oth20701003" th:href="@{/oth2/client/token/revoke/tokenLocalstorage}">REVOKE(LocalStorage)</a>
          <a id="oth20701004" th:href="@{/oth2/client/token/revoke/credential_db}">REVOKE(RESOURCE
            OWNER and CLIENT via DB)</a></li>
      </ul>

      <div>[OTH211 (Authorization Code Grant / Error Request)]</div>
      <ul>
        <li><a id="oth21101002" th:href="@{/oth2/client/11/01/002/get/123}">GET</a> <a
          id="oth21101004" th:href="@{/oth2/client/11/01/004/get/123}">GET</a> <a id="oth21101006"
          th:href="@{/oth2/client/11/01/006/get}">GET</a></li>
      </ul>

    </div>
  </div>
</body>
</html>