<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <div>[OTH201 (Resource Owner Password Credential Grant)]</div>
      <ul>
        <li><a id="oth20104001" th:href="@{/oth2/client/01/04/001/get/123}">GET</a> <a
          id="oth20104002" th:href="@{/oth2/client/01/04/002/post/123}">POST</a> <a id="oth20104003"
          th:href="@{/oth2/client/01/04/003/put/123}">PUT</a> <a id="oth20104004"
          th:href="@{/oth2/client/01/04/004/delete/123}">DELETE</a> <a id="oth20104005"
          th:href="@{/oth2/client/01/04/005/delete/123}">DELETE(Not registered scope in client)</a></li>
      </ul>

    </div>
  </div>
</body>
</html>