<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h1 id="title">
        <span th:text="${title}"></span>
      </h1>
      <p>
        response : <span id="response" th:text="${response}"></span>
      </p>
      <p>
        businessId (client) : <span id="businessId" th:text="${businessId}"></span>
      </p>
      <p>
        companyId (user) : <span id="companyId" th:text="${companyId}"></span>
      </p>
      <p>
        token : <span id="token" th:text="${token}"></span>
      </p>
    </div>
  </div>
</body>
</html>
