<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">DelegatingPasswordEncoderを使用して認証</h1>

      <fieldset>
        <table class="table table-bordered table-condensed">
          <tr>
            <th>Administrator Name</th>
            <td><span id="username"> <span
                th:if="${#authorization.expr('isAuthenticated()') && !#strings.isEmpty(username)}"
                sec:authentication="principal.username"></span>
            </span></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><span id="password"> <span
                th:if="${#authorization.expr('isAuthenticated()') && !#strings.isEmpty(username)}"
                th:text=${administratorPassword}></span>
            </span></td>
          </tr>
        </table>
      </fieldset>
      <form th:action="@{/thymeleaf/1801/002/logout}" method="post">
        <input type="submit" id="logout" class="btn btn-default" value="Logout">
      </form>

    </div>
  </div>
</body>
</html>
