<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <script type="text/javascript" th:inline="javascript">
            (function(ajax) {

                $(document).ajaxSend(function(event, xhr, options) {
                    xhr.setRequestHeader([[${_csrf.headerName}]], [[${_csrf.token}]]);
                });

                ajax.search = function() {

                    $.ajax([[@{/ajax/search}]], {
                        type : "GET",
                        data : $("#personalComputerCriteria").serialize(),
                        dataType : "json"
                    }).done(function(json, status, xhr) {
                        ajax.searchNormalResultDisplay(json, xhr);
                    }).fail(function(xhr) {
                        ajax.errorResultDisplay(xhr);
                    });

                    return false;
                };
            })(ajax);
        </script>
        <div class="container">
            <div id="wrapper">
                <div id="xMLHttpRequestResult" class="hidden alert">
                    <ul>
                        <li>ステータスコード:<span id="returnStatus"></span></li>
                        <li>Content-Type:<span id="contentType"></span></li>
                    </ul>
                </div>

                <div id="resultMessage" class="hidden alert"></div>

                <div class="text-center">
                    <form id="personalComputerCriteria">
                        <span th:errors="${personalComputerCriteria}"></span>
                        <fieldset>
                            <legend>登録PC検索画面</legend>
                            <label for="personalComputerName" class="space">検索するPC名を入力</label>
                            <input id="personalComputerName" name="personalComputerName" class="space pc-search-field form-control inline" />

                            <button id="searchBtn" name="search" class="btn btn-default" onclick="return ajax.search()">検索</button>
                        </fieldset>
                    </form>
                </div>
                <br />
                <div id="result" class="text-center">
                    <table id="personalComputerResultTable" class="hidden table table-striped table-bordered table-condensed csprtable">
                        <thead>
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">PC NAME</th>
                                <th class="text-center">OS</th>
                                <th class="text-center">CPU</th>
                                <th class="text-center">RAM</th>
                                <th class="text-center">VIDEOCARD</th>
                                <th class="text-center">HDD</th>
                                <th class="text-center">POWER</th>
                                <th class="text-center">PRICE</th>
                            </tr>
                        </thead>
                        <tbody id="personalComputerResult"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
