<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">メッセージ管理</h1>

                <div>[MSMN01] プロパティファイルに設定したメッセージの表示</div>
                <ul>
                    <li>[MSMN0101001] プロパティを使用する際の設定</li>
                    <li><a id="msmn0102001" th:href="@{/msmn/01/02/001}">[MSMN0102001] プロパティに設定したメッセージの表示(ISO-8859-1)</a></li>
                    <li><a id="msmn0102002" th:href="@{/msmn/01/02/002}">[MSMN0102002] プロパティに設定したメッセージの表示(UTF-8)</a></li>
                    <li>[MSMN0102003] 複数のプロパティ(ロケールの切り替え) ※国際化で実施</li>
                    <li>[MSMN0102004] 複数のプロパティ ※MSMN0102001で実施</li>
                </ul>

                <div>[MSMN02] 結果メッセージの表示</div>
                <ul>
                    <li><a id="msmn0201001" th:href="@{/msmn/02/01/001}">[MSMN0201001] 通常</a></li>
                    <li><a id="msmn0202001" th:href="@{/msmn/02/02/001}">[MSMN0202001] 複数メッセージ</a></li>
                    <li>[MSMN0203001] プレースホルダー ※MSMN0201002で実施</li>
                    <li>[MSMN0203002] カンマあり ※MSMN0201002で実施</li>
                    <li><a id="msmn0203003" th:href="@{/msmn/02/03/003}">[MSMN0203003] カンマなし</a></li>
                    <li>[MSMN0204001] 結果メッセージの表示（メッセージタイプの設定） ※MSMN0205001で実施</li>
                    <li><a id="msmn0205001" th:href="@{/msmn/02/05/001}">[MSMN0205001] 結果メッセージの表示（属性の指定）</a></li>
                    <li><a id="msmn0206" th:href="@{/msmn/02/06}">[MSMN0206] 業務例外メッセージの表示</a></li>
                </ul>

                <div>[MSMN03] 独自メッセージタイプの作成</div>
                <ul>
                    <li><a id="msmn0301001" th:href="@{/msmn/03/01/001}">[MSMN0301001] 独自メッセージタイプの作成</a></li>
                </ul>

                <div>[MSMN04] &lt;t:messagesPanel&gt;タグの属性変更</div>
                <ul>
                    <li>[MSMN04] &lt;t:messagesPanel&gt;タグの属性変更 ※JSPのみ</li>
                </ul>

                <div>[MSMN05] ResultMessagesを使用しない結果メッセージの表示</div>
                <ul>
                    <li>[MSMN05] ResultMessage以外を出力 ※JSPのみ</li>
                </ul>

                <div>[MSMN06] メッセージキー定数クラスの自動生成ツール</div>
                <ul>
                    <li>[MSMN0601001] メッセージキー定数クラスの自動生成 ※手動で実施</li>
                    <li><a id="msmn0601002" th:href="@{/msmn/06/01/002}">[MSMN0601002] 定数を使用したメッセージの表示</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
