<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">THYM テンプレートエンジン(Thymeleaf)</h1>

                <div th:text="${#dateformatslash.formatYYYYMMDD(date)}">yyyy/MM/dd</div>

                <div th:text="${#dateformatslash.formatYYYYMMDD(date)}">yyyy/MM/dd</div>

                <div th:text="${#nocachedateformat.formatYYYYMMDD(date)}">yyyy/MM/dd</div>

                <div th:text="${#nocachedateformat.formatYYYYMMDD(date)}">yyyy/MM/dd</div>
            </div>
        </div>
    </body>
</html>
