<html>
    <head>
        <link id="css" rel="stylesheet" href="../../../resources/app/css/styles.css" />
        <title>Search Result Screen</title>
    </head>
    <body>
        <h1>Search Result</h1>
        <table id="resultTable">
            <thead>
                <tr>
                    <th>name</th>
                    <th>price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="itemName">Apple</td>
                    <td class="itemPrice">300</td>
                </tr>
                <tr>
                    <td class="itemName">Apple Juice</td>
                    <td class="itemPrice">100</td>
                </tr>
                <tr>
                    <td class="itemName">Apple Pie</td>
                    <td class="itemPrice">500</td>
                </tr>
            </tbody>
        </table>
        <a id="back" href="search.html">Back</a>
    </body>
</html>
