<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

  <h1 id="screenTitle">INTR 国際化</h1>

      <div>[INTR01]
        Localeをユーザ端末（またはブラウザ）の設定によって切り替える場合</div>
      <ul>
        <li><a id="intr0101001" th:href="@{/intr/0101/001}">intr0101001</a></li>
        <li><a id="intr0101002" th:href="@{/intr/0101/002}">intr0101002</a></li>
        <li><a id="intr0101003" th:href="@{/intr/0101/003}">intr0101003</a></li>
        <li><a id="intr0101004" th:href="@{/intr/0101/004}">intr0101004</a></li>
        <li><a id="intr0101005" th:href="@{/intr/0101/005}">intr0101005</a></li>
        <li><a id="intr0101006" th:href="@{/intr/0101/005}">intr0101006</a></li>
        <li><a id="intr0101007" th:href="@{/intr/0101/005}">intr0101007</a></li>
        <li><a id="intr0102001" th:href="@{/intr/0102/001}">intr0102001</a></li>
        <li><a id="intr0102002" th:href="@{/intr/0102/002}">intr0102002</a></li>
        <li><a id="intr0102003" th:href="@{/intr/0102/003}">intr0102003</a></li>
      </ul>

      <div>[INTR02] Localeを画面操作等で動的に変更する場合</div>
      <ul>
        <li><a id="intr0201001" th:href="@{/intr/0201/001}">intr0201001</a></li>
        <li><a id="intr0201002" th:href="@{/intr/0201/002}">intr0201002</a></li>
        <li><a id="intr0201003" th:href="@{/intr/0201/003}">intr0201003</a></li>
        <li><a id="intr0201004" th:href="@{/intr/0201/004}">intr0201004</a></li>
        <li><a id="intr0201005" th:href="@{/intr/0201/005}">intr0201005</a></li>
        <li><a id="intr0201006" th:href="@{/intr/0201/006}">intr0201006</a></li>
        <li><a id="intr0201007" th:href="@{/intr/0201/007}">intr0201007</a></li>
        <li><a id="intr0201008" th:href="@{/intr/0201/008/}">intr0201008</a></li>
        <li><a id="intr0202001" th:href="@{/intr/0202/001}">intr0202001</a></li>
        <li><a id="intr0202002" th:href="@{/intr/0202/002}">intr0202002</a></li>
        <li><a id="intr0202003" th:href="@{/intr/0202/003}">intr0202003</a></li>
        <li><a id="intr0202004" th:href="@{/intr/0202/004}">intr0202004</a></li>
        <li><a id="intr0202005" th:href="@{/intr/0202/005}">intr0202005</a></li>
        <li><a id="intr0202006" th:href="@{/intr/0202/006}">intr0202006</a></li>
      </ul>

      <div>[INTR03] エラーページを国際化する場合</div>
      <ul>
        <li><a id="intr0301-login" th:href="@{/intr/0301/001/login}">intr0301-login</a></li>
        <li><a id="intr0301001" th:href="@{/intr/0301/001/goToError}">intr0301001</a></li>
        <li><a id="intr0301002" th:href="@{/intr/0301/002/goToError}">intr0301002</a></li>
      </ul>

      <div>セッションに格納されたロケールの削除</div>
      <ul>
        <li><a id="removeLocale" th:href="@{/intr/removeLocale}">Remove
            locale from the session</a></li>
      </ul>
    </div>
  </div>
</body>
</html>