<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h3 id="screenTitle">記事登録画面</h3>

      <div id="count" th:text="|登録件数:${count}|">登録件数:登録件数</div>
      <br>
      <form th:action="@{/thymeleaf/{testNumber}/confirm(testNumber=${testNumber})}"
        th:object="${articleBatchRegisterForm}" method="POST" class="form-horizontal"
        enctype="multipart/form-data">
        <fieldset>
          <legend>記事ファイル</legend>
          <div class="form-group">
            <label th:for="title" class="col col-md-2 control-label">タイトル</label>
            <div class="col col-md-5">
              <input type="text" cssClass="form-control" th:field="*{title}" /> <span
                id="titleError" th:errors="*{title}" class="text-danger" />
            </div>
          </div>
          <div class="form-group">
            <label th:for="multipartFile" class="col col-md-2 control-label">ファイル</label>
            <div class="col col-md-5">
              <input type="file" th:field="*{multipartFile}" /> <span id="multipartFileError"
                th:errors="*{multipartFile}" class="text-danger" />
            </div>
          </div>
        </fieldset>
        <div class="form-group">
          <div class="col col-md-10 col-md-offset-2">
            <button id="uploadButton" name="upload" class="btn btn-default" type=submit
              value="Submit">アップロード</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</body>
</html>