<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h3 id="screenTitle">社員情報編集完了画面</h3>

                <form th:action="@{/thymeleaf/{testNumber}(testNumber=${testNumber})}" class="form-horizontal" method="get" th:object="${employeeForm}">
                    <fieldset>
                        <legend>社員情報</legend>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label>社員ID</label>
                            </div>
                            <div class="col col-md-4" th:text="*{employeeId}"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label>名前</label>
                            </div>
                            <div class="col col-md-4" th:text="*{employeeName}"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label>Email</label>
                            </div>
                            <div class="col col-md-4" th:text="*{email}"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label>住所</label>
                            </div>
                            <div class="col col-md-4" th:text="*{address}"></div>
                        </div>
                        <div class="form-group col col-md-5">
                            <button id="backToIndex" class="btn btn-default" type="submit" value="Submit">戻る</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
