<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head>
        <script id="js-template" th:inline="javascript">
            var str = [[${strAttr}]];        /*[- String -]*/
            var num = [[${numberAttr}]];     /*[- double -]*/
            var bool = [[${booleanAttr}]];   /*[- boolean -]*/
            var ary = [[${arrayAttr}]];      /*[- 配列 -]*/
            var col = [[${collectionAttr}]]; /*[- コレクション -]*/
            var map = [[${mapAttr}]];        /*[- Map -]*/
            var bean = [[${beanAttr}]];      /*[- Java Bean -]*/
        </script>
    </head>
    <body>
        <h1>JavaScript Object Serialize</h1>
    </body>
</html>
