<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
    <head> </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <h1 id="screenTitle">Staff Login Page(For Role Hierarchy Display)</h1>

                <form th:action="@{/athr/0901/001/authenticate}" method="post">
                    <div th:if="${param.keySet().contains('error')}" id="staffLoginError">
                        <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}" class="alert">
                            <ul>
                                <li th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"></li>
                            </ul>
                        </div>
                    </div>
                    <fieldset>
                        <legend>Login</legend>
                        <br />
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="userName">UserName</label>
                            </div>
                            <div class="col col-md-3">
                                <input type="text" class="form-control input-sm" id="username" name="username" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col col-md-2">
                                <label for="password">Password</label>
                            </div>
                            <div class="col col-md-3">
                                <input type="password" class="form-control input-sm" id="password" name="password" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <input type="submit" id="login" class="btn btn-default" value="Login" />
                    </fieldset>
                </form>
                <br />
                <form th:action="@{/athr/0901/001/logout}" method="post">
                    <input type="submit" id="logout" class="btn btn-default" value="Logout" />
                </form>
            </div>
        </div>
    </body>
</html>
