<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">アクセスポリシに対応するユーザのみが表示できるページ(NOT LOCAL IPADDRESS)</h1>

      <fieldset>
        <legend>Access Allowed</legend>
      </fieldset>
      <form th:action="@{/athr/0601/003/afterLogin}" method="post">
        <input type="submit" id="back" class="btn btn-default" value="Back">
      </form>
    </div>
  </div>
</body>
</html>
