<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">

      <h1 id="screenTitle">個別指定したAuthenticationEntryPointが正常に機能することを確認する（リソース別に異なるAuthenticationEntryPointを使用する）。</h1>

      <fieldset>
        <table class="table table-bordered table-condensed">
          <tr>
            <th>UserName</th>
            <td><span id="username"> <span
                th:if="${#authorization.expr('isAuthenticated()') && !#strings.isEmpty(username)}"
                th:text="${#authentication.principal.username}"></span>
            </span></td>
          </tr>
          <tr>
            <th>UserEmail</th>
            <td><span id="userEmail"> <span th:if="${!#strings.isEmpty(userEmail)}"
                th:text="${userEmail}"></span>
            </span></td>
          </tr>
        </table>
      </fieldset>
      <form th:action="@{/athr/0801/001/logout}" method="post">
        <input type="submit" id="logout" class="btn btn-default" value="Logout">
      </form>

    </div>
  </div>
</body>
</html>
