<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (head,body)"
  th:with="templatePaths=${#strings.arraySplit(#execInfo.processedTemplateName,'/')},
         titleKey=|title.flup.${templatePaths[1]}|,
         functionId=flup">
<head>
<title th:text="${#messages.msgOrNull(titleKey)} ?: #{label.sf.cmmn.systemName}"></title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />
<meta name="contextPath" th:content="${contextPath}" />
<meta name="_csrf_parameter" th:if="${_csrf != null}" th:content="${_csrf.parameterName}" />
<meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}" />
<meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}" />
<link rel="stylesheet" th:href="@{/resources/vendor/bootstrap/dist/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/vendor/bootstrap/dist/css/bootstrap-theme.min.css}">
<link rel="stylesheet" th:href="@{/resources/app/css/cmmn.css}">
<link rel="stylesheet" th:href="@{/resources/app/css/{functionId}.css(functionId=${functionId})}">
<script type="text/javascript" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/resources/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/app/js/cmmn.js}"></script>
<script type="text/javascript"
  th:src="@{/resources/app/js/{functionId}.js(functionId=${functionId})}"></script>
<script type="text/javascript"></script>
<th:block id="head" th:replace="${head}"></th:block>
</head>
<body>
  <div id="header" th:insert="~{thymeleaf/layout/header :: header}">header</div>
  <div id="body" th:replace="${body}"></div>
  <div id="footer" th:insert="~{thymeleaf/layout/footer :: footer}">footer</div>
</body>
</html>
