<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h1 id="screenTitle">期間</h1>
      <br>

      <form th:action="@{/thymeleaf/duration}" th:object="${compareDateForm}" class="form-horizontal"
        method="get">
        <fieldset>
          <legend>日付比較</legend>
          <div class="form-group">
            <table>
              <tr>
                <td>year1</td>
                <td>month1</td>
                <td>day1</td>
              </tr>
              <tr>
                <td><input type="text" th:field="*{year1}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{month1}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{day1}" class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>year2</td>
                <td>month2</td>
                <td>day2</td>
              </tr>
              <tr>
                <td><input type="text" th:field="*{year2}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{month2}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{day2}" class="form-control input-sm" /></td>
              </tr>
            </table>
            <button id="compareDate" name="compareDate" class="btn btn-default">日付比較</button>
          </div>
        </fieldset>
      </form>
      <br />
      <form th:action="@{/thymeleaf/duration}" th:object="${compareTimeForm}" class="form-horizontal"
        method="get">
        <fieldset>
          <legend>時間比較</legend>
          <div class="form-group">
            <table>
              <tr>
                <td>hour1</td>
                <td>minute1</td>
                <td>second1</td>
              </tr>
              <tr>
                <td><input type="text" th:field="*{hour1}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{minute1}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{second1}" class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>hour2</td>
                <td>minute2</td>
                <td>second2</td>
              </tr>
              <tr>
                <td><input type="text" th:field="*{hour2}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{minute2}" class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{second2}" class="form-control input-sm" /></td>
              </tr>
            </table>
            <button id="compareTime" name="compareTime" class="btn btn-default">時間比較</button>
          </div>
        </fieldset>
      </form>
      <form th:action="@{/thymeleaf/duration}" th:object="${compareZonedDateTimeForm}"
        class="form-horizontal" method="get">
        <fieldset>
          <legend>時間比較(サマータイム)</legend>
          <div class="form-group">
            <table>
              <tr>
                <td>year1</td>
                <td>month1</td>
                <td>day1</td>
                <td>hour1</td>
                <td>minute1</td>
                <td>second1</td>
                <td>zone1</td>
              </tr>
              <tr>
                <td><input type="text" th:field="*{zonedDateTimeyYear1}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeMonth1}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeDay1}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeHour1}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeMinute1}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeSecond1}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeZone1}"
                  class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>year2</td>
                <td>month2</td>
                <td>day2</td>
                <td>hour2</td>
                <td>minute2</td>
                <td>day2</td>
                <td>zone2</td>
              </tr>
              <tr>
              <tr>
                <td><input type="text" th:field="*{zonedDateTimeYear2}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeMonth2}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeDay2}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeHour2}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeMinute2}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeSecond2}"
                  class="form-control input-sm" /></td>
                <td><input type="text" th:field="*{zonedDateTimeZone2}"
                  class="form-control input-sm" /></td>
              </tr>
            </table>
            <button id="compareTimeWithSummerTime" name="compareTimeWithSummerTime"
              class="btn btn-default">時間比較(サマータイム)</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>
</html>