<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <h1 id="screenTitle">日付取得</h1>
      <br>
      <form th:action="@{/thymeleaf/getdate}" class="form-horizontal" method="get">
        <fieldset>
          <legend>現在日付取得</legend>
          <div class="form-group">
            <button id="getNowLocalDate" name="getNowLocalDate" class="btn btn-default">LocalDate取得</button>
            <button id="getNowLocalTime" name="getNowLocalTime" class="btn btn-default">LocalTime取得</button>
            <button id="getNowLocalDateTime" name="getNowLocalDateTime" class="btn btn-default">LocalDateTime取得</button>
          </div>
        </fieldset>
      </form>
      <br />
      <form th:action="@{/thymeleaf/getdate}" th:object="${dateForm}" class="form-horizontal"
        method="get">
        <fieldset>
          <legend>指定日付取得</legend>
          <div class="form-group">
            <table>
              <tr>
                <td>year</td>
                <td><input type="text" th:field="*{year}" class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>month</td>
                <td><input type="text" th:field="*{month}" class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>day</td>
                <td><input type="text" th:field="*{day}" class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>hour</td>
                <td><input type="text" th:field="*{hour}" class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>minute</td>
                <td><input type="text" th:field="*{minute}" class="form-control input-sm" /></td>
              </tr>
              <tr>
                <td>second</td>
                <td><input type="text" th:field="*{second}" class="form-control input-sm" /></td>
              </tr>
            </table>
          </div>
          <div class="form-group">
            <button type="submit" id="getSpecifiedDate" name="getSpecifiedDate"
              class="btn btn-default">LocalDate取得</button>
            <button type="submit" id="getSpecifiedTime" name="getSpecifiedTime"
              class="btn btn-default">LocalTime取得</button>
            <button type="submit" id="getSpecifiedDateTime" name="getSpecifiedDateTime"
              class="btn btn-default">LocalDateTime取得</button>
            <button type="submit" id="getLastDateOfSpecifiedMonth"
              name="getLastDateOfSpecifiedMonth" class="btn btn-default">指定した日付のある月の最終日取得</button>
            <button type="submit" id="getNextMondayOfSpecifiedDate"
              name="getNextMondayOfSpecifiedDate" class="btn btn-default">指定した日付の次の月曜日取得</button>
          </div>
        </fieldset>
      </form>
      <br />
      <form th:action="@{/thymeleaf/getdate}" th:object="${dateForm}" class="form-horizontal"
        method="get">
        <fieldset>
          <legend>TimeZone付き日付取得</legend>
          <div class="form-group">
            <div class="col col-md-1">Timezone</div>
            <div class="col col-md-3">
              <input th:field="*{zone}" class="form-control input-sm" />
            </div>
          </div>
          <div class="form-group">
            <button type="submit" id="getOffsetTime" name="getOffsetTime" class="btn btn-default">OffsetTime取得</button>
            <button type="submit" id="getOffsetDateTime" name="getOffsetDateTime" class="btn btn-default">OffsetDateTime取得</button>
            <button type="submit" id="getZonedDateTime" name="getZonedDateTime" class="btn btn-default">ZonedDateTime取得</button>
            <button type="submit" id="getDateTimeSpecifiedTimezoneByArea" name="getDateTimeSpecifiedTimezoneByArea" class="btn btn-default">TimeZoneを指定して取得(地域名)</button>
            <button type="submit" id="getDateTimeSpecifiedTimezoneByTimeDifference" name="getDateTimeSpecifiedTimezoneByTimeDifference"
              class="btn btn-default">TimeZoneを指定して取得(時差)</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>
</html>