<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thymeleaf/layout/template :: layout(~{::head/content()},~{::body/content()})}">
<head>
</head>
<body>
  <div class="container">
    <div id="wrapper">
      <ul>
        <li th:each="arrayDay : ${#temporals.arrayDay(resultDate)}">
          Day:<span th:id="${#ids.seq('getDay')}" th:text="${arrayDay}"></span>
        </li>
        <li th:each="arrayMonth : ${#temporals.arrayMonth(resultDate)}">
          Month:<span th:id="${#ids.seq('getMonth')}" th:text="${arrayMonth}"></span>
        </li>
        <li th:each="arrayMonthName : ${#temporals.arrayMonthName(resultDate)}">
          MonthName:<span th:id="${#ids.seq('getMonthName')}" th:text="${arrayMonthName}"></span>
        </li>
        <li th:each="arrayMonthNameShort : ${#temporals.arrayMonthNameShort(resultDate)}">
          MonthNameShort:<span th:id="${#ids.seq('getMonthNameShort')}" th:text="${arrayMonthNameShort}"></span>
        </li>
        <li th:each="arrayYear : ${#temporals.arrayYear(resultDate)}">
          Year:<span th:id="${#ids.seq('getYear')}" th:text="${arrayYear}"></span>
        </li>
        <li th:each="arrayDayOfWeek : ${#temporals.arrayDayOfWeek(resultDate)}">
          DayOfWeek:<span th:id="${#ids.seq('getDayOfWeek')}" th:text="${arrayDayOfWeek}"></span>
        </li>
        <li th:each="arrayDayOfWeekName : ${#temporals.arrayDayOfWeekName(resultDate)}">
          DayOfWeekName:<span th:id="${#ids.seq('getDayOfWeekName')}" th:text="${arrayDayOfWeekName}"></span>
        </li>
        <li th:each="arrayDayOfWeekNameShort : ${#temporals.arrayDayOfWeekNameShort(resultDate)}">
          DayOfWeekNameShort:<span th:id="${#ids.seq('getDayOfWeekNameShort')}" th:text="${arrayDayOfWeekNameShort}"></span>
        </li>
        <li th:each="arrayHour : ${#temporals.arrayHour(resultDate)}">
          Hour:<span th:id="${#ids.seq('getHour')}" th:text="${arrayHour}"></span>
        </li>
        <li th:each="arrayMinute : ${#temporals.arrayMinute(resultDate)}">
          Minute:<span th:id="${#ids.seq('getMinute')}" th:text="${arrayMinute}"></span>
        </li>
        <li th:each="arraySecond : ${#temporals.arraySecond(resultDate)}">
          Second:<span th:id="${#ids.seq('getSecond')}" th:text="${arraySecond}"></span>
        </li>
        <li th:each="arrayNanosecond : ${#temporals.arrayNanosecond(resultDate)}">
          Nanosecond:<span th:id="${#ids.seq('getNanosecond')}" th:text="${arrayNanosecond}"></span>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>