<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../../../resources/app/css/styles.css"
  th:href="@{/resources/app/css/styles.css}">
<title>Search Result Screen</title>
</head>
<body>
  <h1>Search Result</h1>
  <table id="result-table">
    <thead>
      <tr>
        <th>name
        <th>price
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${items}">
        <td th:text="${item.name}">Apple</td>
        <td th:text="${item.price}">300</td>
      </tr>
      <!--/* -->
      <tr>
        <td>Banana</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Strawberry</td>
        <td>300</td>
      </tr>
      <!-- */-->
    </tbody>
  </table>
  <!--/*  
   Description of guidelines
  <form action="search.html" th:action="@{/search}"><button>Back</button></form>
   */-->
  <a id="back" href="search.html" th:href="@{/thym/0201/003}">Back</a>
</body>
</html>
