<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{thly/template :: layout(_,~{::body/content()},'thly')}">
<head>
</head>
<body>
  <div id="wrapper">

    <h1 id="screenTitle">THLY Thymeleafにおける画面レイアウト</h1>

    <div>[THLY01] Thymeleafのテンプレートレイアウト機能を使用したHTMLの部品化</div>
    <ul>
      <li><a id="thly0101001" th:href="@{/0101/001}">thly0101001</a></li>
      <li><a id="thly0101002" th:href="@{/0101/002}">thly0101002</a></li>
      <li><a id="thly0101003" th:href="@{/0101/003}">thly0101003</a></li>
      <li><a id="thly0101004" th:href="@{/0101/004}">thly0101004</a></li>
      <li><a id="thly0101005" th:href="@{/0101/005}">thly0101005</a></li>
    </ul>

    <div>[THLY02] Thymeleafのテンプレートレイアウト機能を使用した画面レイアウト</div>
    <ul>
      <li><a id="thly0201001" th:href="@{/0201/001}">thly0201001</a></li>
      <li><a id="thly0201002" th:href="@{/0201/002}">thly0201002</a></li>
      <li><a id="thly0201003" th:href="@{/0201/003}">thly0201003</a></li>
      <li><a id="thly0201004" th:href="@{/0201/004}">thly0201004</a></li>
    </ul>

    <div>[THLY03] 汎用的なHTML部品の作成方法</div>
    <ul>
      <li><a id="thly0301001" th:href="@{/0301/001}">thly0301001</a></li>
    </ul>

  </div>
</body>
</html>
